
<div class="raw" *ngIf="SourceData && SourceData.length > 0">
    <div class="col-12 main_event ansWith" style="position: relative;">
        <!-- Swiper -->
        <div class="swiper-container {{_class}}" style="width: 100%;">
              <div class="swiper-wrapper">

                <ng-container *ngFor="let item of SourceData">
                        <ng-container *ngIf="item.safeurl == ''">
                            <div class="swiper-slide">
                                <div class="ansItem">
                                        <label class="{{item.istop ? 'new' : ''}}">{{item.start}} ~ {{item.end}}</label>
                                        <div class="ansImg" *ngIf="item.imgurl != ''"><img [src]="item.img"/></div>
                                        <p>{{item.name}}</p>
                                </div>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="item.safeurl != ''">
                            
                            <div class="swiper-slide">
                                <a href="{{item.url}}" urlHref>
                                    <div class="ansItem">
                                            <label class="{{item.istop ? 'new' : ''}}">{{item.start}} ~ {{item.end}}</label>
                                            <div class="ansImg" *ngIf="item.imgurl != ''"><img [src]="item.img"/></div>
                                            <p>{{item.name}}</p>
                                    </div>
                                </a>
                            </div>
                           
                        </ng-container>
                        
                </ng-container>
  
              </div>
              <!-- Add Pagination -->
              <!-- <div class="swiper-pagination2"></div> -->
              
        </div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev {{_class}}-prev ans-pre"></div>
        <div class="swiper-button-next {{_class}}-next ans-next"></div>
    </div>
  </div>