<div class="raw" *ngIf="SourceData && SourceData.length > 0">
    <!-- Slider main container -->
    <div class="swiper-container homebanner" [ngStyle]="bnrStyle">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
          <!-- Slides -->

          <ng-container *ngFor="let item of SourceData;">
             <div class="swiper-slide" (click)="BannerClick()">
                <div class="mainbanner">
                        <img [src]="item.img"/>
                </div>
             </div>
          </ng-container>
  
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>
          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
    </div>
</div>