<div class="tool">
  <img (click)="less()" src="../../../theme1/assets/img/A-.png"/>
  <img (click)="normal()" src="../../../theme1/assets/img/A.png"/>
  <img (click)="add()" src="../../../theme1/assets/img/A+.png"/>
  <img (click)="print()" src="../../../theme1/assets/img/print.png"/>
</div>