<div class="raw">
    <div class="mainImg" style="background-image: url('theme1/assets/img/about.png')">
        <h1 class="col-12">Search</h1>
    </div>
</div>
<div class="raw pageBg">
    <div class="col-12 main">
    
         <div class="col-12 content txtdetail">
               <p [innerHTML]="gcsesearch"></p>
         </div>
    </div>
</div>