
<div class="raw" *ngIf="SourceData && SourceData.length > 0">
    <div class="col-12 main_event ansWith" style="position: relative;">
        <!-- Swiper -->
        <div class="swiper-container {{_class}}" style="width: 100%;">
              <div class="swiper-wrapper">

                <ng-container *ngFor="let item of SourceData">
                        <ng-container *ngIf="item.safeurl == ''">
                            <div class="swiper-slide" style="min-width: 15vw">
                                <div class="ansItem">
                                        <label class="{{item.istop ? 'new' : ''}}">{{item.start}} ~ {{item.end}}</label>
                                        <div class="ansImg" *ngIf="item.imgurl != ''"><img [src]="item.img"/></div>
                                        <p>{{item.name}}</p>
                                </div>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="item.safeurl != ''">
                            
                            <div class="swiper-slide" style="min-width: 15vw">
                                <a href="{{item.url}}" urlHref>
                                    <div class="ansItem">
                                            <label class="{{item.istop ? 'new' : ''}}">{{item.start}} ~ {{item.end}}</label>
                                            <div class="ansImg" *ngIf="item.imgurl != ''"><img [src]="item.img"/></div>
                                            <p>{{item.name}}</p>
                                    </div>
                                </a>
                            </div>
                           
                        </ng-container>
                        
                </ng-container>
                    
                <!-- <div class="swiper-slide">
                    <div class="ansItem">
                          <label class="new">2019/07/05 ~ 2019/07/08</label>
                          <div class="ansImg"><img src="theme3/assets/img/temp/a1.jpg"/></div>
                          <p>Taichung Int''l Tea, Coffee and Bakery Show (TCFB Taichung)</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ansItem">
                          <label class="new">2019/07/05 ~ 2019/07/08</label>
                          <div class="ansImg"><img src="theme3/assets/img/temp/a2.jpg"/></div>
                          <p>Come to Meet with Taiwan EV Partners in Bangalore! (Free Entry)</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ansItem">
                          <label>2019/07/05 ~ 2019/07/08</label>
                          <div class="ansImg"><img src="theme3/assets/img/temp/a3.jpg"/></div>
                          <p>TAIWAN EXPO 2019 in  Vietnam</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ansItem">
                                <label>2019/07/05 ~ 2019/07/08</label>
                                <p>TAIWAN EXPO 2019 in  Vietnam</p>
                    </div>
                </div>
                
                <div class="swiper-slide">
                    <div class="ansItem">
                          <label>2019/07/05 ~ 2019/07/08</label>
                          <div class="ansImg"><img src="theme3/assets/img/temp/a1.jpg"/></div>
                          <p>Taichung Int''l Tea, Coffee and Bakery Show (TCFB Taichung)</p>
                    </div>
                </div> -->
  
              </div>
              <!-- Add Pagination -->
              <!-- <div class="swiper-pagination2"></div> -->
              
        </div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev {{_class}}-prev ans-pre"></div>
        <div class="swiper-button-next {{_class}}-next ans-next"></div>
    </div>
  </div>