<div class="raw" *ngIf="SourceData && SourceData.length > 0">
        <div class="col-12 homebnr">
            
                <div class="col-3" *ngIf="showInquiry">
                    <ng-container *ngIf="!IsMobile">
                        <img *ngIf="showInquiry" src="theme3/assets/img/TradeInquiry.jpg"  (click)="ToTrade()"/>
                    </ng-container>
                    <ng-container *ngIf="IsMobile">
                        <img *ngIf="showInquiry" src="theme3/assets/img/mtrade.jpg" (click)="ToTrade()"/>
                    </ng-container>
                </div>

                <div class="{{showInquiry ? 'col-9' : 'col-12'}}" style="display:inline-block">
                    <!-- Slider main container -->
                    <div class="swiper-container homebanner">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                            <!-- Slides -->
                            <ng-container *ngFor="let item of SourceData;">
                                <div class="swiper-slide" (click)="BannerClick()">
                                        <div class="mainbanner">
                                                <img [src]="item.img"/>
                                                <!-- <img style="width: 100%;" src="theme3/assets/img/banner.jpg"/> -->
                                        </div>
                                </div>
                            </ng-container>
                    
                            </div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                    </div>
                </div>
        </div>
</div>