<ul class="pagination" *ngIf="SourceData && SourceData.length > 0">
    <li class="page-item {{(nowIndex == 1)?'disabled':''}}">
     <a class="page-link" href="" (click)="lessPage($event)">
           <i class="fa fa-angle-left"></i>
     </a>
    </li>

    <ng-container *ngFor="let p of pageList">
        <li class="page-item {{(nowIndex == p)?'active':''}}" >
            <a class="page-link" href="#" (click)="setPage($event,p)">{{p}}</a>
        </li>
    </ng-container>

    <!-- <li class="page-item">
    <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
    <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
    <a class="page-link" href="#">4</a>
    </li>
    <li class="page-item">
    <a class="page-link" href="#">5</a>
    </li> -->

    <li class="page-item {{(nowIndex == pageList.length)?'disabled':''}}">
    <a class="page-link" href="" (click)="addPage($event)">
          <i class="fa fa-angle-right"></i>
    </a>
    </li>
</ul>