<div *ngIf="SourceData" class="swiper-container related {{ClassName}}">
    <div class="swiper-wrapper">
        <ng-container *ngFor="let item of SourceData; let i = index">
                <div class="swiper-slide">
                    <a href="{{item.url}}" urlHref>
                        <img src="{{item.img}}"/>
                    </a>
                </div>
        </ng-container>
         
    </div>
</div>