<div class="raw">
    <div class="mainImg" style="background-image: url('theme2/assets/img/conference.jpg')">
        <h1 class="col-12">會議室預約</h1>
    </div>
</div>
<div class="raw pageBg">
    <div class="col-12 main">
         <div class="topMemu col-12">
            <a class="active" href="">{{'conf.list' | i18n}}</a>
            <a href="/conference/detail" urlHref>{{'conf.sign' | i18n}}</a>
         </div>
         <div class="col-12 content">
              <div class="conf">
                    <label>會議室預約</label>
              </div>
              <div class="tradeshow">
                    <ng-container *ngFor="let item of Data;let mindex = index;">
                        <div class="col-full confItem">
                            <div class="col-3">
                               <img *ngIf="item.img" [src]="item.img"/>
                            </div>
                            <div class="col-9 info">
                               <label><a href="/conference/detail?id={{item.id}}" urlHref>{{item.name}}</a></label>
                               <p [innerHtml]="item.content | htmlHandle"></p>
                            </div>
                         </div>
                    </ng-container>
                    

                    <!-- <div class="col-full confItem">
                       <div class="col-3">
                          <img src="./img/trds_1.jpg"/>
                       </div>
                       <div class="col-9 info">
                          <label><a href="">四樓會議室</a></label>
                          <p>
                          會議室可容納N人<br/>
                          會議室可容納N人
                          </p>
                       </div>
                    </div> -->

              </div>
           
            
         </div>
    </div>
</div>