


<homeBnr [SourceData]="Banner"></homeBnr>


<div class="raw" style="background: #F5F5F5;display: inline-block;width: 100%;">
        <div class="col-12 maintitle">
             <h1>{{'home.calendar' | i18n}}</h1>
        </div>
        <div class="col-12 main_event">
                <div class="col-6 event_left">
                  
                  <div class="calendar" *ngIf="!IsMobile">
                      <div class="calendar_select">
                            <div class="pre" (click)="lessYear()"></div>
                            <div class="date">
                               <div class="pre" (click)="OnDataChange('-')"></div>
                               <div class="year">{{default.y}}/{{default.m}}</div>
                               <div class="next" (click)="OnDataChange('+')"></div>
                            </div>
                            <div class="next" (click)="addYear()"></div>
                      </div>
                      <div class="week">
                        <span>Sun</span>
                        <span>Mon</span>
                        <span>Tue</span>
                        <span>Wed</span>
                        <span>Thu</span>
                        <span>Fri</span>
                        <span>Sat</span>
                      </div>
                      <div class="date_list">
                        <ng-container *ngFor="let day of days;">
                            <span *ngIf="day.text == ''" class="{{day.class}}">{{day.text}}</span>
                            <span *ngIf="day.text != ''" class="{{day.class}}" (click)="ChangeDate(day)">{{day.text}}</span>
                        </ng-container>
                      </div>
                   </div>
          
                  <div class="main_event_list">
                      <div class="scroll">
                          <ng-container *ngFor="let evt of EvtFilter;">
                              <label>
                                  <a href="{{evt.url}}" urlHref>
                                        {{evt.name}}
                                  </a>
                              </label>
                              <i class="cDownload" (click)="AddCalendar(evt)"></i>
                              <a href="{{evt.url}}" urlHref>
                                  <span *ngIf="evt.start != evt.end">{{evt.start}} ~ {{evt.end}} </span>
                                  <span *ngIf="evt.start == evt.end">{{evt.start}} </span>
                              </a>
                          </ng-container>
                          <p *ngIf="EvtFilter.length == 0">{{ 'form.noData' | i18n }}</p>
                      </div>
                      <ng-container *ngIf="EvtFilter.length != 0">
                        <a routerLink="/event/list" class="basebtn back basebg">{{'head.more' | i18n}}</a>
                      </ng-container>
                  </div>
                </div>
                <div class="col-6 event_right">
                   <img [src]="calendarBackground"/>
                </div>
           </div>
</div>


 <div class="col-12 maintitle" *ngIf="hlist.length > 0">
    <h1>{{'home.highlights' | i18n}}</h1>
 </div>
 <div class="raw" *ngIf="hlist.length > 0">
     <div class="col-12 main_event hilight">
        <div class="col-6 hilight_view">
            <img src="theme2/assets/img/photo_2.jpg"/>
        </div>   
        <div class="col-6 hilight_txt">
            <div class="main_event_list">
                <div class="scroll">
                    <ng-container *ngFor="let hitem of hlist;">
                        <label>
                            <a href="{{hitem.url}}" urlHref>
                                {{hitem.name}}
                            </a>
                        </label>
                        <a href="{{hitem.url}}" urlHref>
                            <span>{{hitem.date}}</span>
                        </a>
                        
                    </ng-container>
                    <p *ngIf="EventList && EventList.length == 0"></p>
                </div>
                <div class="morebtns">
                    <a routerLink="/news/list" class="morebtn">{{'menu.news' | i18n}}</a>
                    <a routerLink="/event/list" class="morebtn">{{'menu.events' | i18n}}</a>
                    <a routerLink="/tradeShow" class="morebtn">{{'menu.TTS' | i18n}}</a>
                </div>
            </div>
        </div>  
     </div>
 </div>




 <div class="col-12 maintitle" *ngIf="video && !IsMobile">
    <h1>{{'home.video' | i18n}}</h1>
 </div>
 <div class="raw" *ngIf="video">
     <div class="col-12 main_event video">
        <div class="col-6 video_view">
            <iframe width="560" height="315" [src]="video.url" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>   
        <div class="col-6 video_txt">
                <h1>{{video.name}}</h1>
                <p [innerHtml]="video.content | htmlHandle"></p>
        </div>  
     </div>
 </div>


 <!-- <div class="col-12 maintitle" *ngIf="RelateShow">
    <h1>{{'home.related' | i18n}}</h1>
 </div> -->
 <div class="raw" *ngIf="!IsMobile">
        <div class="col-12 main_event related">
        <relatedBnr class="col-4" [ClassName]="'related1'" [SourceData]="adBanner_1"></relatedBnr>
        <relatedBnr class="col-4" [ClassName]="'related2'" [SourceData]="adBanner_2"></relatedBnr>
        <relatedBnr class="col-4" [ClassName]="'related3'" [SourceData]="adBanner_3"></relatedBnr>
    </div>
</div>


<div id="fixed_ad" *ngIf="showInquiry">
     <a href="/trade" urlHref>
       <img src="theme2/assets/img/tradeinquiry.png">
       <!-- <span></span> -->
    </a>
</div>
