  <div class="raw">
        <div class="mainImg" style="background-image: url('theme2/assets/img/conference.jpg')">
            <h1 class="col-12"></h1>
        </div>
  </div>
  <div class="raw pageBg">
        <div class="col-12 main">
            <iframe class="col-12 frameUrl" [src]="frameUrl | safe"></iframe>
        </div>
  </div>