html{font-size: 16px !important;}
@font-face {
    font-family: PingFang SC;
    src: local('PingFang SC');
    src: url('../fonts/PingFangSC-Medium.eot');  /* IE 9 - 11 */
    src:url('../fonts/PingFangSC-Medium.ttf');
}
h1,h2,h3,h4,h5,h6,p,span
{
  font-family: 'PingFang SC','Microsoft JhengHei';
}

body{
    /* font-family: 'Microsoft JhengHei'; */
    font-family: 'PingFang SC','Microsoft JhengHei';
    padding: 0;margin:0;position: relative;
    position: relative;
    width: 100vw;
    overflow-x: hidden;/* width: 1450PX; */
    flex-direction: column;
    min-height: 100vh;
    /* min-height: calc(100% - 0px); */
}
select,button,textarea{
    font-family: 'PingFang SC','Microsoft JhengHei';
}
select {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
border: none;
border-radius: 3px;
font-size: 1em;
min-width: 6rem;
}
.select-container {position:relative;display: inherit;width: 100%;box-sizing: border-box;min-width: 6rem;}
.select-container:after {content:""; width:0; height:0; position:absolute; pointer-events: none;}
.select-container:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 0.75rem;
    right: 1.15em;
    border-top: 8px solid black;
    opacity: 0.5;
}
.tools .select-container:after {top: 0.5rem;}
.year_search .select-container{display: inline;}
.year_search .select-container:after{ top:0.5rem;}
select::-ms-expand {display: none;}
input.form-control{-webkit-appearance: none;}

button{font-size: 1rem;}
a {text-decoration: none;}
.raw{
    width: 100vw;display: flex;
}
.raw .div{margin: auto;}

.header{
    justify-content: flex-end;
}
.header div.community{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.header .community span{font-size: 0.88rem;}
.header .community a{display: inline-block;height: 30px;}
.header .community i{
    height: 30px;width: 30px;
    display: inline-block;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}
i.envelope{background-image: url('../img/email.png')}
i.facebook{background-image: url('../img/facebook.png')}
i.youtube{background-image: url('../img/youtube.png')}
i.instagram{background-image: url('../img/instagram.png')}
i.linkedin{background-image: url('../img/linkin.png')}

.top{
    justify-content: space-between;
}
button.search{
    background-image: url('../img/search.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
    border:none;
    cursor: pointer;
    background-color: #fff;
    margin-right: 0.5rem;
}
/* .community a{text-decoration:none;}
.community span{
    font-size: 0.8rem;color:#747474;line-height:40px;padding: 0 .25rem;
}  */
/* .search{}
.search input{background: transparent;border: 1px solid #fff;
    padding:0 5px;
    height: 22px;width: 132px;color:#fff;font-size: 1rem;}

.search input::placeholder { color: #fff;}
.search input:-ms-input-placeholder { color: #fff;}
.search input::-ms-input-placeholder { color: #fff;}
.search select{
    background: transparent;border: none;font-size:1rem;
    color:#fff;margin-left: 2rem;
}
.search select option{
    background-color:#219ABF;
}*/
.logo{
    height:40px;padding:1rem 0;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    flex-basis: auto;
}
.logo img{margin-left:20px;height: 42px;}
.logo h1{
    font-size: 1.25rem;
    position: relative;
    padding-left: 1.5rem;
    top: -0.75rem;
}
.tools{
    display: flex;
    flex-basis: auto;
    align-items: center
}
.tools select{border: none;}

.menu{
    height: 6rem;
    display:block;
    align-items: stretch;
    background-image: url('../img/mbg.png');
    background-size:100%;
    background-repeat: repeat-x;
    position: absolute;
    z-index: 2;
    background-size: auto 175%;
    background-position-y: bottom;
}
.menu div.col-12{display: block;}
.menu a{
    position: relative;
}
.menu a{
    display:inline-flex;
    cursor: pointer;
    line-height: 2rem;color: #00426F;
    font-weight:normal ;
    font-size: 1rem;
    text-align: center;
    flex: 1;
    flex-basis: auto;
    white-space:nowrap;
    padding:0 1rem;
    text-decoration:none;
}
.menu span{
    cursor: pointer;
    display:block;
    line-height: 55px;
    font-weight: bold;font-size: 1rem;
    text-align: center;
    flex: 1;
    flex-basis: auto;
    white-space:nowrap;
    padding:0 1rem;
    text-decoration:none;
}
.menu a:hover,
.menu span:hover{
    color:#43b0db;
    font-weight:bold;
}

.childmenu{
    display:none;
    position: absolute;
    top: 2rem;
    z-index: 10;
}
.menu .childmenu a:hover{
    color:#fff;
    background: rgba(82, 181, 223, 1);
}
.menu .childmenu a{
    text-align: left;
    margin-top: 0.15rem;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0px -1px 5px #ccc;
    /* height: 2.5rem; */
    line-height: 2.5rem;
    color: #fff;
    font-size: 0.85rem;
    font-weight: normal;
    /* max-width: 20rem; */
    display: inline-block;
    word-break: break-all;
    width: auto;
}
.menu a:hover > .childmenu,.childmenu:hover{
    left: 0;
    display: flex;
    flex-wrap: wrap;
}
.more{
    color:#FF7E00;
}
.more i{
  padding:0 .75rem;

  -webkit-transition: -webkit-transform .3s ease-in-out;
  -ms-transition: -ms-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
}
.more.active i{
    transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
 }
.menuItem{
  position: absolute;top:55px;width: 100vw;
  box-shadow:inset -3px 2px 12px #ccc;
  background-color:#fff;

  -webkit-transition: max-height 0.5s;
  -moz-transition: max-height 0.5s;
  -ms-transition: max-height 0.5s;
  -o-transition: max-height 0.5s;
  transition: max-height 0.5s;
  overflow: hidden;
  max-height: 0;
}
.menuItem .col-12{
    flex-wrap:wrap;padding:0 .5rem;
    align-self:stretch;
}
.menuItem a{
    display: inline-block;
    color: #5B5E6D;
    font-weight: bold;
    font-size: .75rem;
    text-align: left;
    white-space:nowrap;
    text-decoration:none;
    line-height: 1.75rem;
    flex-grow:inherit;
    padding: 0 1rem;
    white-space: normal;
    margin:0 .25rem;
}
.menuItem .col-2{
  flex-direction:column;margin-bottom: 1rem;
}
.menuItem.active{
    z-index: 99;
    opacity: 1;
    max-height: 200vh;
}
.menuItem.active::before{
  content: '';
  background: #fff;
  width: 100vw;
}
.menuItem .close{
  height: 2.5rem;
  width: 100%;
  margin-bottom:.25rem;
  text-align: right;
}

.menuItem .close .closeicon{
    position: relative;
    display:inline-block;
    width: 2.3rem;
    height: 2.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}
.closeicon::before, .closeicon::after {
    content: '';
    position: absolute;
    height:2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #fff;
}

.closeicon::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.closeicon::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menuItem .title{
    line-height: 3rem;background-color: #F1F1F1;
    padding:0 .25rem;margin:0 .25rem;
    font-size:1rem;
  }
.menuItem .title:hover,
.menuItem a:hover{background-color: #1180BB;color:#fff;}

.mainImg{
    height: 20rem;width: 100%;
    background-image: url('../img/event.png');
    background-size: cover;background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.mainImg h1{
    font-size: 3rem;
    color:#00436F;
    text-shadow:0px 0px white, 1px 1px 7px #fff;
    text-align: left;
    display: block;
}
.col-6.event_right{display: inline-block;}
.event_right img{width: 100%;height: auto;box-sizing: border-box;}
div.main{
   padding-top:2rem;
   padding-bottom:4rem;
   min-height: 80vh;
   /* justify-content: flex-start;
   align-items: flex-start; */
   display: block;
}
div.main div{min-height: 1px;}
.noteh1{padding-left: 1rem;font-size: 1.2rem;}
.pageBg{
    /* background-image: url('../img/page_bg.png');
    background-size:100%;background-repeat: no-repeat; */
    background-color: #F5F5F5;
}
.pageBg .main{
    background-color: #fff;
    position: relative;
    top:-3rem;
    box-shadow: 0px -1px 4px rgba(20%,20%,40%,0.25);
}
/* rwd base setting */
.col-12{width: 1120px;margin: auto;display: flex;}
.col-full{width:100%;margin: auto;display: flex;}
.col-2{width: 16.66%;display: flex;}
.col-3{
    width: 25%;
    display: inline-flex;
    box-sizing: border-box;
}
.col-4{width: 33.33%;display: inline-flex;
    box-sizing: border-box;}
.col-6{width: 50%;display: flex;}
.col-8{width: 66.66%;display: flex;}
.col-9{width: 75%;
    display: inline-flex;
    box-sizing: border-box;
}
div.topMemu{
    text-align: center;
    display: block;
    margin: 1rem 0;
}
.topMemu a{
  padding: 0 1rem;
  color:#000;
  border-right: 1px solid #717171;
}
.topMemu a.active{
    color:#FF7E00;
}
.topMemu a:last-child{
    border-right:none;
}
.sideMenu{
 padding:1rem .25rem;flex-direction:column;
}
.sideMenu a{
    background-color:#fff;
    text-decoration:none;
    color:#000;
    font-weight: bold;
    padding: 1rem;
}
.sideMenu a:hover,.sideMenu a.active{
    color:#FF7E00;
}
.sideMenu a:last-child{
}
.basebtn{
  width: 100%;
  background-color:#fff;
  border: 1px solid #FF7E00;
  text-align: center;
  line-height:2.5rem;
  margin-top:1.5rem;
  cursor: pointer;
  color:#FF7E00;
  font-size: 1rem;
}
button:disabled{background: #F1F1F1;color:#FF7E00}
.basebtn:hover{background:#CA6400;color:#fff;}

.submit,.reset{width: 150px;}
.submit{margin-right: 1rem;}
.leftside{
    flex-direction:column;padding: 1rem;
    padding-right: 2rem;
    position: absolute;
}
.leftside label{color:#FF7E00;font-weight: bold;
    display: block;line-height:2.25rem;}
.leftside span{display: block;line-height:2.25rem;}
.leftside a{color:#FF7E00;font-weight: normal;
    display: block;line-height:2.25rem;}
.content{
    flex-direction:column;
    padding: 1rem;
    flex-basis: auto;
    box-sizing: border-box;
}
.info{
    line-height: 2rem;margin-bottom: 1rem;
}
.divice_line{
    margin:1rem 0;
    border-bottom:2px solid #F1F1F1;
}
.year_search{text-align: right;line-height: 3rem;margin-bottom: 2rem;}
.year_search label{color:#FF7E00;}
.year_search select{
    width: 4rem;display: inline-block;
    margin-left: .25rem;margin-right:0;
    background-color:transparent;
}
.tool{
    text-align: right;
    margin-bottom: 1rem;
    padding-right: 2rem;
}
.tool span{
    display:inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #ddd;
    margin-left: 5px;
    border-radius: 30px;
    cursor: pointer;
}
.tool span.active{background: #FF7E00;color:#fff;}
.tool span.print{
    background-image:url('../img/print.png');
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
}
.tool span.sm{font-size:80%;}
.tool span.md{font-size:100%;}
.tool span.lg{font-size:120%;}

.tmission a{color:#FF7E00 !important;}

a.link{color:#FF7E00;font-size: 0.9rem;line-height: 1.5rem;}
/* event detail */
.txtdetail{box-sizing: border-box;}
.txtdetail p img{max-width:100%;height: auto;}
.txtdetail h1{
    background-color: #FBFBFB;
    font-size: 1.5rem;
    font-weight: normal;
    padding: 1rem 1rem 1rem 1rem;
    border-bottom: 2px solid #D9D9D9;
}
.txtdetail span.author,.txtdetail span.date{
    color:#FF7E00;display: block;
}
.txtdetail p{
    padding-top:.75rem;
    line-height: 1.75rem;
    padding-bottom:.75rem;
    word-break:break-word;
}
.txtdetail img{display: block;margin: auto;padding-bottom:.5rem}
.txtdetail a{color:#FF7E00; }
/* reset css */
.txtdetail p ol,.txtdetail p ul{
    list-style:initial;
    padding-left:1.5rem;
}
.attach{padding-bottom:.75rem;}
.filelink{
  color:#000;text-decoration:none;
  line-height: 1.5rem;
}
.rwd-table a.edate{color:#FF7E00;}
.linerbg{
    /* background: -webkit-linear-gradient(left,#FF7E00,#2DADC1);
    background: -o-linear-gradient(right,#FF7E00,#2DADC1);
    background: -moz-linear-gradient(right,#FF7E00,#2DADC1);
    background: linear-gradient(to right,#FF7E00,#2DADC1); */
    background-color: #FF7E00;
    color:#fff;
}
.basebg{
    background: #FF7E00;color:#fff;
    border: none;
}

.back{
    margin: auto;
    margin-top: 2rem;
    max-width: 10rem;
    height: 2.5rem;
}
.morebtns{
    width: 100%;
    margin-top: 1rem;
    margin-right: 1rem;
    text-align: right;
    box-sizing: border-box;
}
.main_event_list a.morebtn{
    margin-left: 2rem;
    height: 2.5rem;
    color:#000;
    border: none;
}
.main_event_list a.morebtn::after{
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    position: relative;
    top: 0.75rem;
    right: -0.5rem;
    background-color: #FE9839;
    background-image: url('../img/r_arrow.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.filelink i{
  color:#FE9839;
  font-size: 1.25rem;
  padding-left:.5rem;
-moz-transform:scaleX(-1);
-webkit-transform:scaleX(-1);
-o-transform:scaleX(-1);
transform:scaleX(-1);
}

/* tradeshow */
.showItem{border-bottom: 1px solid #F1F1F1}
.showItem:last-child{border-bottom:none;}
.showItem:first-child{padding-top:0;}
.showItem:nth-child(even){
    background: #FFF6EC;
}
.showItem .col-3{
    display: inline-flex;
    align-items: baseline;
}
.showItem .col-3 img{
  display: block;margin: auto;
}
.showItem .col-9{
    padding-top:1rem;
    padding-right: 1rem;
    flex-direction:column;
}
.showItem .info a,.showItem label{
  color:#FF7E00;
}
.showItem .info a{
    text-decoration:underline;
}
.showItem label{display: list-item;}
.showItem label span{
  color:#000;
}
.showItem p{
  font-size: .95rem;
}

.rwd-table {
    overflow: hidden;
}
.rwd-table tr:first-child th{
    background-color: #FBFBFB;
}
.rwd-table tr:nth-child(even){
    background: #FFF6EC;position: relative;
}

.rwd-table td {
    margin: 0.5em 1em;
}
.rwd-table th {

}
.rwd-table th:first-child, .rwd-table td:first-child{
    white-space:nowrap;
}
.rwd-table {
    min-width: 100%;
    position: relative;
    top: -15px;
}

.rwd-table th {
    display: none;
}

.rwd-table td {
    display: block;
}

.rwd-table td:before {
    content: attr(data-th) " : ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}

.rwd-table th, .rwd-table td {
    text-align: left;
}

.rwd-table th, .rwd-table td:before {
    color:#FF7E00;
    border-bottom: 2px solid #F4F4F4;
}
.rwd-table th{
    line-height: 3.5rem;
    padding-left: 1rem;
    border-bottom: 2px solid #F4F4F4;
}
.rwd-table tr{
    border-bottom: 2px solid #F4F4F4;
}

.rwd-table a{
    text-decoration:none;color:#000;line-height: 1.5rem;
}
.pagination{
    display: flex;
    margin: auto;
    border-radius:100%;
    margin-top:2rem;
    justify-content: center;
}
.page-item:first-child .page-link{
  margin-left: 0;
  border-radius:100%;
}
.page-item{margin:0 .25rem;}
.page-link{
    width:30px;height:30px;
    text-align: center;line-height:30px;
    position:relative;display:block;margin-left:-1px;
    color:#595959;
    border:1px solid #D9D9D9;
    text-decoration:none;
    border-radius:100%;
}
.page-item.disabled .page-link{
    color:#D9D9D9;
}
.page-item.active .page-link{
    color:#fff;background-color:#FF7E00;
    border-color: #FF7E00;
}
.bottommenu{height: 55px;
    display:flex;
    align-items: stretch;
    background-color: #F5F5F5;
    justify-content: center;
    flex-grow:1;
}
.bottommenu a{
    display:block;
    line-height: 55px;color: #5B5E6D;
    font-weight: bold;font-size: 1rem;
    text-align: center;
    flex: 1;
    flex-basis: auto;
    white-space:nowrap;
    padding:0 1rem;
    text-decoration: underline;
}

/* form */
.require{color:#FF0000}
.fieldset{padding: 1rem;}
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading span{padding: 0 2rem;}
form.base{}
.forminfo{
    flex-direction: column;
    align-items:flex-start;
    margin-bottom: 2rem;
}
.forminfo img{margin: 0;}
.forminfo span,.forminfo img{
 display: block;
}
form.base h1,.formPre h1{font-size: 1.25rem;color:#FF7E00}
.formPre span.note,
form.base .note{font-size: .75rem;color:#FF7E00}

.form-control{
    box-sizing: content-box;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2rem;
    background-color: #fff;
    background-clip: padding-box;
    border-radius:.25rem;
    border:1px solid #ced4da;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-right: .5rem;
}
.fieldset {
    display: flex;
    flex-wrap:wrap;
    width: 100%;box-sizing: border-box;
}

.form_gorup{
    width: 100%;
    display: inline-flex;
    margin-bottom: 1rem;
    flex-direction:column;
}
.form_gorup select{min-width: auto;}
.fieldset label{
    line-height: 1.25rem;
    padding: .375rem 0;
    text-align: left;
}
.form_gorup .form_input{
    display: inline-flex;
}
.form_gorup .form_input span{
    padding: .375rem .75rem;
}
/* trade form fixed */
.form_gorup.col-8{
    width: 75%;
}
.form_gorup.col-4{
    width: 25%;
}
.formtable.rwd-table th{line-height: 1.5rem;}
.formtable.rwd-table tr:first-child th{background-color: #fff;line-height: 1.5rem;}
.formtable.rwd-table th, .rwd-table td:before{
    border-bottom: none;
}
.formtable.rwd-table td{
    padding: .25em !important;
    text-align: center;
    vertical-align: middle;
}

.formtable.rwd-table tr:nth-child(odd){
  background: #fff;
}
.formtable.rwd-table .col-full .select-container select{
    min-width: auto;
}
.fieldset .comment{
    width: 100%;
    height: 120px;
    border-radius:.25rem;
    border: 1px solid #ced4da;
    padding: .375rem .75rem;
    font-size: 1rem;
    box-sizing: border-box;
}
.fieldset input[type=file]{
    color:#FF7E00;
}
.updfile{display: block;margin: auto}

.sitemap{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem;
}
.sitemap a{
    text-decoration: none;
    color:#1E1E1E;
    line-height: 2.5rem;
}
.sitemap a:hover{color:#FF7E00;}
.sitemap a h1{
    background-color: #FBFBFB;
    color:#FF7E00;
    font-size: 1rem;
    font-weight: normal;
    line-height: 3.5rem;
    border-bottom: 2px solid #D9D9D9;
    text-align: center;
    
}
.sitemap .col-4{
  flex-direction:column;margin-bottom: 1rem;padding: 0.5rem;
}


/* home */
.mainbanner{
    width: 100vw;
    background-size: cover;
    background-position: center;
}
.mainbanner img{
    width: 100%;height: auto;
}
.nobanner {margin-bottom: 3rem};
div.swiper-button-prev,
div.swiper-button-next
{
    width: 27px !important;height: 44px !important;
}
/* custom swipe btn */
.homebanner .swiper-button-disabled{opacity: 0.35 !important;pointer-events:painted !important;cursor: pointer !important;}
.homebanner .swiper-button-prev{left:1.5rem;}
.homebanner .swiper-button-next{right:1.5rem;}

.homebanner .swiper-button-next
{
    color:transparent;
    background-image: url('../img/arrow_w_l.png');
    background-repeat: no-repeat;
    background-size: 16px ;
    background-position: center;
    -moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}
.homebanner .swiper-button-prev
{
    color:transparent;
    background-image: url('../img/arrow_w_l.png');
    background-repeat: no-repeat;
    background-size: 16px ;
    background-position: center;
}
.homebanner .swiper-button-prev:after
{
    color:transparent;
    background-image: url('../img/arrow_w_l.png');
    background-repeat: no-repeat;
    background-size: 16px ;
    background-position: center;
    
}

/* custom swipe btn */
.ans-next.swiper-button-next:after, .ans-pre.swiper-button-prev::after
{font-size: 1.75rem;}
.ans-next.swiper-button-next{ right:-1.5rem !important;}
.ans-pre{ left:-1.5rem !important;}
div.swiper-container div.ans-pre,div.swiper-container div.ans-next
{width: 27px !important;height: 44px !important;}
.tradeInq {padding: 1rem;margin: auto;}
.tradeInq img{width: 100%;max-width: 646px;display:block;margin:1rem 0;}

.maintitle{margin-top: 2rem}
.maintitle h1{font-size:2rem;font-weight: bold;}
.main_event {padding:1rem;margin: auto;justify-content: center;}
#fixed_ad{position: fixed;right: 0;bottom:14rem;z-index: 20;width: 7rem;}
#fixed_ad img{width: 100%;}
.event_left .calendar{width: 100%;display: block;}
.event_left{
    border-right: none;align-items:flex-start;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    padding: 1rem;
}
.event_left h1{font-size: 2rem;}
.week,.date_list{display: flex;flex-wrap: wrap;padding:0 .25rem;}
.date_list{padding-bottom: 1rem;}
.calendar{

}
.fullimg{width:100%;}
.noData{text-align: center;line-height: 3rem;margin-top: 1rem;}
/* .calendar img{width: 100%;} */
.calendar .week span,.calendar .date_list span{
   display: inline-block;
   width: 14.28%;text-align: center;
   height:2.75rem;line-height:2.75rem;
   font-size: .85rem;
 }
 .calendar .week span{font-weight: bold;font-family: sans-serif;}
 .calendar .act{font-weight: bold;}
 .calendar .date_list span{
     position: relative;
     z-index: 0;color:#6B6767;
     font-size: .65rem;
     background-color:rgba(255,255,255,0.6);
     margin:0.5%;width: 13.28%;
}
 .evt{color:#fff !important;background-color: #3DAEDD !important;}
 .line{
    background-image: url('../img/c_point.png');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center 87%;
    cursor: pointer;
  }
 .main_event_list{display: flex;flex-wrap: wrap;padding:0;width: 100%;box-sizing: border-box;}
 .main_event_list label,.main_event_list span{display: block;}
 .main_event_list label:first{margin-top:0;}
 .main_event_list label a{
    font-size: 1rem;font-weight: bold;
 }

 .main_event_list span{
    font-size: 1rem;
    font-weight: bold;
    color:#6E6E6E;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}
 .main_event_list a{color:#000}

 .main_event_list .basebtn {color:#fff}
 .scroll{width: 100%;
    height:10rem;
    overflow: scroll;overflow-x: hidden;}
  .scroll label{display: inline-flex;line-height: 1.5rem;align-items: center;}
 .scroll label::before{
     content: '';
     width: 24px;height: 1.15rem;
     display: inline-block;
     background-image: url('../img/arrow_2.png');
     background-size: 9px;
     background-position: center;
     background-repeat: no-repeat;
 }
 .scroll span{margin-left: 24px;}
 .calendar_select{position: relative;display: flex;flex-wrap: wrap;justify-content:space-between;}
 .calendar_select .date{display: flex;flex-wrap: wrap;}
 .calendar_select .pre,.calendar_select .next{cursor: pointer;background-image: url('../img/date-arrow.png');background-repeat: no-repeat;background-position: center;height: 1.75rem;width: 2rem;}
 .calendar_select .next{transform:scaleX(-1);}
 .calendar_select .date .pre,.calendar_select .date .next{background-image: url('../img/year-arrow.png');background-repeat: no-repeat;background-position: center;height: 1.75rem;width: 2rem;}
 .calendar_select .date .year{line-height: 1.75rem;}
 /* scroll css */
 ::-webkit-scrollbar { width: 5px; }
 ::-webkit-scrollbar-track {-webkit-border-radius: 10px;border-radius: 10px;margin:0;}
 ::-webkit-scrollbar-thumb { -webkit-border-radius: 4px;border-radius: 4px;background: #FF8600;}

 .cDownload{
    display: inline-block;
    background-image: url('../img/calendar.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 1.25rem;
    height: 1rem;
    margin-right: 0.25rem;
    opacity: 0.25;
    cursor: pointer;
}
 .ans_bg{
    background-image: url('../img/ans.jpg');
    background-repeat: no-repeat;
    background-size: 100vw auto;
    min-height: 600px;
  }
 .announce{
    width: 100vw;
    max-height: 485px;
  }
  .ansItem{
        border: 1px solid #ddd;
        padding: .75rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        background-color: #fff;
        text-align: center;
   }

   .ansItem label{padding: 1rem 0 0.5rem 0;border-bottom: 1px solid #D9D9D9;margin-bottom: 0.5rem;display: block;color: #5B5B5B;}
   .ansItem label.new{padding-left:1.5rem;}
   .ansItem label.new::before{
      content: '';
      display: inline-block;
      position: absolute;
      top:0;
      left: 0.75rem;
      width:1.5rem;
      height:2.5rem;
      background-image: url('../img/top.png');
      background-repeat: no-repeat;
   }
   .ansItem div img{width: auto; max-width: 100%;height: auto;}
   .ansItem p{
       font-size: 1.2rem;font-weight: bold;line-height: 1.5rem;
       padding: 0.5rem 0;text-align:left;color:#000;
       word-break: break-all;
    }
    .video{
        background-image: url('../img/video.png');
        background-repeat: no-repeat;
        background-size: 100%;
       
     }
   /* .video_view{padding-right: 1rem;
   
    }*/
   .video_txt{display:inline-block;padding:1rem;box-sizing: border-box;}
   .video_txt h1{font-size: 1.5rem;font-weight: bold;margin-bottom: 1rem;}
   .video_txt p{line-height: 2rem;}

.hilititle{}
.hilight{
    background-image: url('../img/Highlights.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.hilight_view img{width: 100%;padding-right: 1rem;}
.hilight_txt{display:inline-block;box-sizing: border-box;padding:0 1rem;}
.hilight_txt .scroll{height: 22rem;}

.related{margin-bottom:1.75rem;}
.related .col-4{width: 33%;padding:0 1rem; box-sizing: border-box;}
/* .related .col-4 .related{margin-right: 1rem;box-sizing: border-box;}
.related .col-4:last-child .related{margin-right: 0rem;box-sizing: border-box;} */
.related img{width: 100%;max-height: 150px;}
.related .col-4 .related a{display:block;width: 100%;}

   .backTop{
    display: none;
    position: fixed;
    right: 10px;
    width: 2.5rem;
    height: 2.5rem;
    color:#fff;
    bottom: 2.5rem;
    z-index: 90;
    line-height: 2.5rem;
    text-align: center;
    box-shadow: 0px 1px 2px rgba(20%,20%,40%,0.5);
    cursor: pointer;
    background-image: url('../img/Totop.png');
    background-repeat: no-repeat;
    background-size: 2.5rem;
}
.footer{
    flex-grow: 1;
    background-color:#F5F5F5;
}
.footer div.col-12{
    padding:10rem 0 4rem 0;
    background-image: url('../img/footer_bg.png');
    background-repeat: no-repeat;
    background-size: 25rem;
    background-position: left;
}
.footer .col-3 p,
.footer .col-6{padding-left: 1rem;box-sizing: border-box;}

.footer p{
  width:100%;text-align: left;
  line-height: 1.25rem;
  color:#6E6E6E;
}
.footer p img{
    width: 1.5rem;
    position: relative;
    top: 5px;
    padding: 0 0.25rem;
}
.footer span{display: block;}
.footer p a{color:#6E6E6E;}
.footer .col-6{flex-wrap: wrap;}
.footer .col-6 p{

}
.conf{
    color:#FF7E00;
    background-color: #FBFBFB;
    line-height: 3.5rem;
    padding-left: 1rem;
    border-bottom: 2px solid #D9D9D9;
}
.conf_form{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.conf_form .fieldset{width: 100%;}
.conflabel{
    color:#FF7E00;
    margin-top:0.75rem;
    margin-bottom:0.25rem;
}
.confItem{border-bottom: 1px solid #D9D9D9;}
.confItem:last-child{border-bottom:none;}
.confItem:first-child{padding-top:0;}
.confItem:nth-child(even){
    background: #FFF6EC;
}
.confItem .col-3{
    display: inline-flex;
}
.confItem .col-3 img{
  width: 90%;display: block;margin: 5%;
  height: max-content;
}
.confItem .col-9{
    padding-top:1rem;
    padding-right: 1rem;
    flex-direction:column;
}
.confItem .info a{
  color:#FF7E00;
  font-weight: bold;
  text-decoration: none;
}
.confItem label{display: inline-block;}
.confItem label span{
  color:#000;
}
.confItem p{
  font-size: .95rem;
}
.form_gorup .form_input span.tag{
    padding:.375rem .15rem;
}
.form-control.inline{
    margin-right:0;
}

.step{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.step li{
    display: block;
    position: relative;
    width: 25%;
}
.step li label{
    color: #fd7e23;
    margin-bottom: 0.25rem;
    display: block;
    text-align: center;
    font-size: 0.88rem;
    height: 2rem;
}
.step li span{
    display: block;
    margin: auto;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    border: 2px solid #B4B4B4;
    color: #B4B4B4;
    border-radius: 1.5rem;
    background: #fff;
    z-index: 3;
}
.step li span::after{
    content: '';
    width: 100%;
    height: 2px;
    top: 3.65rem;
    left: calc( 49% + 0.88rem);
    position: absolute;
  background-color: #E2E2E2;
}
.step li.active span{
    border: 2px solid #FF7E00;
    background: #FF7E00;
    color: #fff;
}
.step li.active span::after{
    content: '';
    width: 100%;
    height: 2px;
    top: 3.65rem;
    left: calc( 49% + 0.88rem);
    position: absolute;
    background-color: #FF7E00;
}
.step li:last-child span::after
{
    content: none;
}
.help-block{padding: 0.25rem;color: red;}
.help-jq{padding: 0.25rem;color: red;display: none;}
.confDetail{flex-wrap: wrap;}
.confDetail h2,.confDetail p{width: 100%;}
.confDetail .info{width: 100%;}
.confDetail .info label{color:#FF7E00;}
.confDetail .info label span{color:#000;}
.confDetail h2{color:#FF7E00;font-size:1.25rem;margin:2rem 0;}
.confDetail table{margin: 0.5rem 0;}
.confDetail table tr td{padding:0 0.75rem; }
.confDetail table.cimg tr td{padding:0; }
.confDetail table.cimg tr td{
     width: 100%;
     display: flex;
     flex-direction: row
 }
.confDetail table.cimg tr td img{ width:100%; }
img.confimg{
    margin: 2rem 0;
    max-width: 320px;
}

.frameUrl{
    display: block;width: 960px;height: 1550px;
}
@media (max-height: 500px) {
    /* div.next,div.btn,div.footer{
        display: none;
    } */
}

@media print{
    .header,
    .tool,
    .menu,
    .mainImg,
    .basebtn,
    .backTop,
    .bottommenu,
    .cookiesBox,
    .sideMenu,
    #mobile_menu,
    #mobile_menu_block,
    .leftside,
    #at-custom-sidebar
    {display: none !important;}
    .col-12{width: 100% !important;}
    .col-9{width: 100% !important;}
    div.main{min-height: inherit;}
}

/* ipad */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1120px)  { 
    /* .header{height: 3rem;}
    .menu a, .menu span{line-height: 48px;}
    .childmenu{top:48px;}
    .menuItem a{padding:0 0.25rem;line-height: 1.5rem;} */
    .search .select-container{width: 7rem;display: inline-block;}
    .search .select-container:after{top:0.75rem;}
    .search select{margin-left:0;}
    .menu .col-12{width:100%;}

    .col-12{width: 98vw;margin: auto;display: flex;flex-wrap:wrap;padding: 1vw;box-sizing: border-box;}
    .col-full{width:100%;margin: auto;display: flex;}
    .related .col-4{padding:0 1rem;box-sizing: border-box;}
    .rwd-table{width:100%;table-layout: fixed;}
    .rwd-table td:first-child{white-space:inherit;}
    .rwd-table td{
        padding: 1em 0.25em !important;
        word-break:break-all;
    }
    div.cookiesBox{bottom: 56px !important;}
    /* theme2 diff */
    .col-6.event_left,
    .col-6.event_right{
        width: 100%;
        box-sizing: border-box;}
    .col-6.event_right{margin: 1rem 0}
    .morebtns{width: 90%;margin-right: 0;margin-left: 5%;}
    .related{margin-top: 2rem;}
    .maintitle h1{line-height: 3.5rem;}
    div.topMemu{width: 100%;box-sizing: border-box;}
    form.base{width: 100%;}
    .col-12.content{width: 100%;box-sizing: border-box;}

    /* trade form fixed */
    .fieldset .col-12{padding-left: 0;padding-right: 0;}
    .nobanner {margin-bottom:7rem};
}
.hilight_txt .scroll {
    height: 13rem;
}
/* mobile */
@media screen and (max-width: 767px){
    body { margin-top: 50px;position: relative; }
    /* rwd base setting */
    .col-12{width: 96vw;margin: auto;display: flex;flex-wrap:wrap;padding: 1vw;}
    .col-full{width:100%;margin: auto;display: flex;}
    .col-2{width: 100%;display: flex;}
    .col-3{width: 100%;
        display: flex;box-sizing: border-box;
    }
    .col-4{width: 100%;display: flex;}
    .col-6{width: 100%;display: flex;}
    .col-8{width: 100%;display: flex;}
    .col-9{width: 100%;display: flex;}

    /* menu */
    #mobile_menu{
        display: -webkit-flex;display: flex;width:100%;background-color: #fff;
        height:50px;width:100%;position:fixed;top:0px;z-index:99;
        box-shadow:1px 1px 3px rgba(20%,20%,40%,0.5);
    }
    .mMenu,.mSearch{-webkit-flex: none;flex: none;width:50px;height:50px;text-align: center;line-height:50px;}
    .mMenu i,.mSearch i{color:#FF7E00;font-size: 1.25rem;}
    .mLogo{-webkit-flex:1;flex:1;height:50px;
        display: flex;
    }
    .mLogo a{height: 30px;display:inline-block;margin-top: 8px;}
    .mLogo img{height: 30px;}
    .mtitle{
        display: inline-flex;
        height: 50px;
        font-size: 4vw;
        word-break:break-word;
        align-items:center;
        line-height: 0.88rem;
    }
    .nobanner {margin-bottom:0rem};
    /* .mLogo img{height: 25px;margin-top: 12px;
        padding-right:6px;margin-right:6px;
    } */
	#mobile_menu_block a{text-decoration: none}
    #mobile_menu_block{
        display:block;
        padding-bottom: 150px;
        width:75vw;
        height: calc(100vh - 150px);
        position: fixed;
        top:51px;
        z-index: 99;
        background:#fff;
        overflow-y:auto;
        overflow-x:hidden;
        left:0;
    }
	#mSearch_bar{background:#FF7E00;width:100%;position:fixed;top:0;height:50px;z-index:100;display:flex;left:100%}
	#mSearch_bar input{height:25px;margin-top:10px;border:none;width:100%}
	#mSearchback{-webkit-flex: none;flex: none;width:50px;height:50px;background-image:url("../img/arrow.png");background-repeat: no-repeat;background-position:15px 17px;}
	#mSearchSubmit{-webkit-flex: none;flex: none;width:50px;height:50px;background-image:url("../img/search2.png");background-repeat: no-repeat;background-position:13px 12px;}

    #mobile_menu_block ul li,#mobile_menu_block label
    {width:100%;margin:0;line-height:38px;}
    #mobile_menu_block ul li:hover{background-color: #F1F1F1;}
    #mobile_menu_block .mItem{position: relative;}
    #mobile_menu_block .mItem label{
        width:calc(100% - 20px);
        padding-left: 10px;padding-right: 10px;
        display: block;}
    #mobile_menu_block .mItem input{display: none;}
    #mobile_menu_block .mItem i{
        position: absolute;right: 10px;font-size: 1.25rem;top: 8px;color: #FF7E00;
        transition-duration: 0.5s;
        transition-property: transform;
    }

	#mobile_menu_block ul li span{padding-left:5px}
    #mobile_menu_block ul li a{
        display:inline-block;
        width:calc(100% - 20px);
        text-decoration:none;
        color:#64656A;padding-left:20px;}
	#mobile_menu_block .active{background:#73c34f;background-image:url("images/arrow_1.png");background-repeat: no-repeat;background-position:90% 15px;color:#fff;}
    #mobile_menu_block .SecondItem{
        background:#F8F8F8;
        -webkit-transition: max-height 0.3s;
        -moz-transition: max-height 0.3s;
        -ms-transition: max-height 0.3s;
        -o-transition: max-height 0.3s;
        transition: max-height 0.3s;
        overflow: hidden;
        max-height: 0;
    }

    #mobile_menu_block ul .SecondItem a{padding-left:5%;width:92%;}
    #mobile_menu_block input:checked + label {background-color: #F1F1F1;}
    #mobile_menu_block input:checked ~.SecondItem{display: block;max-height:200vh;}

    #mobile_menu_block input:checked ~ i{
        transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        -webkit-transform:rotate(90deg);
     }

    #mobile_menu_block{
        transition-duration: 0.5s;
        transition-property: transform;
        transform:translateX(-100%);
    }
    #mobile_menu_block.active{
        transform:translateX(0%);
    }
    .hilight_view,.hilight_txt{padding: 0.5rem;}
    .hilight_view{display: inline-block;}
    .maintitle h1{padding-left: 1rem;margin-top:1rem;font-size: 1.25rem;}
    .event_left h1{font-size: 1.25rem;margin: 1rem;}
    .video{padding-top: 1rem;}
    .pageBg .main{top:-2rem;}
    .ans_bg{
        min-height: auto;
    }
    .hoverbg{
        background-color: #FFF4F0;
        color:#FF7E00;
    }
    .mCommunity i{
        height: 30px;width: 30px;
        display: inline-block;
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    #act_bg{
		position: fixed;left:0;bottom:0;
		width: 100vw;height:100vh;background:#000;
        z-index: -1;
        /* opacity: 0.85; */
        opacity:0;
        transition:opacity 0.3s ease-in;
    }
    #act_bg.active{
        opacity: 0.85;
        z-index: 98;
    }
    .mCommunity{
        padding: 10px;
    }
    .mCommunity span{display: block;padding-bottom:.5rem;}
    .mCommunity a i{
        height: 30px;width: 30px;line-height: 30px;
        display: inline-block;text-align: center;margin:0 .1rem;}
    .mCommunity select{
        font-size: 1rem; color: #FF7E00;background: transparent;
        border: none;height: 2rem;left: -4px;position: relative;
    }
        /* home */
    .mainbanner{height: auto;min-height: 1px;}
    .video_view{padding-right: 0;}
    .video_txt{flex-wrap: wrap;margin-top: 1rem;}
    div.event_left{
        border: none;padding: 2px;
    }
    .event_right img{width: 100%;height: auto;padding: 0.5rem;box-sizing: border-box;}
    .main_event_list{padding:0;}
    .main_event_list a{color:#000}
    .tradeInq{padding:0.5rem;padding-bottom:0;}
    .homebanner .swiper-button-next{right: 0.5rem;}
    .homebanner .swiper-button-prev{left: 0.5rem;}
    .morebtns{margin-right: 0;position: relative;left: 0;margin-bottom: 1rem;text-align: center;}
    .main_event_list a.morebtn{margin-left: 0;padding-right: 2.5vw;font-size: 4vw;}
    .main_event_list a.morebtn::after{
        content: '';
        display: inline-block;
        width: 1.25rem;
        height: 1.25rem;
        position: relative;
        top: 0.25rem;
        right: -0.15rem;
        background-color: #FE9839;
        background-image: url('../img/r_arrow.png');
        background-repeat: no-repeat;
        background-size: 100%;
    }


    .ansWith{width: 85vw;}
    /* page */
    .topMemu a{display: inline-block;margin-bottom: 1rem;}
    .mainImg{height:140px;}
    .mainImg h1{
        font-size: 1.25rem;line-height:initial;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .txtdetail{margin-top:0;margin-bottom: 0;}
    /* footer */
    .bottommenu{
        height: auto;
        text-align: center;
    }
    .bottommenu .col-8{
        display: inline-block;
    }
    .bottommenu a{
        display: inline-block;
        font-size: .95rem;text-decoration:underline;
    }
    .footer div.col-12{padding-top: 23vw;background-size: 100%;background-position: top center;}

    .ieinline{display: inline !important;}

    .aboutus.rwd-table td{margin:0.15em 3px;}
    .aboutus.rwd-table tr{margin:0;padding: 0.5rem;display: block;}
    .aboutus.rwd-table td:before{
        display: inline-block;width: auto;margin:5px 5px 5px 0; min-width: auto;
    }
    /* 反向排序 */
    .leftside,.sideMenu{order: 0;margin-bottom:2.5rem;position: relative;}
    .content{padding:1rem 0 !important;}
    .rwd-table{}
    
    .rwd-table td{margin:0.75em 3px;}
    .rwd-table td:before{display: block;width: 100%;margin:10px 0;
        min-width: calc(100vw - 5vw);box-sizing: border-box;
    }
    .rwd-table td:first-child{white-space:inherit;}

    .formtable.rwd-table td{
        margin: 0.25em 3px;
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
    }
    .formtable.rwd-table td{
        display: inline-block;
        align-items: center;
        width: 96%;
    }
    .formtable.rwd-table td:before{
        margin:5px 0;text-align: left;color:#000;
    }
    .formtable.rwd-table td:first-child{
        text-align: left;display: inline-block;
     }
    .formtable.rwd-table td:first-child:before{
      display: inline;
    }

    .tmission a{font-size: 0.85rem;line-height: 1.35rem;}
    .showItem{flex-wrap: wrap;}
    .showItem .col-3{padding: 0.5rem 0;}
    .showItem .col-9{
        padding-right:0.5rem;
        padding-left:0.5rem;
    }
    .showItem label{display: block;}
    .showItem label::before{
        content: '・';
    }
    form.base{width: 100%;}
    .fieldset{padding:1rem 0; }
    .form-control:last-child{margin-right: 0}

    /* trade form fixed */
    .col-8 .form-control:last-child{margin-right:.5rem}
  
    #fixed_ad{
        bottom:12rem;
    }
    .backTop{

    }
    .step li label{font-size: 0.65rem;}
    .step li span::after{
        content: '';
        width: 100%;
        height: 2px;
        top: 3.75rem;
        left: calc( 48% + 1rem);
        position: absolute;
      background-color: #E2E2E2;
    }
    .step li.active span::after{
        content: '';
        width: 100%;
        height: 2px;
        top: 3.75rem;
        left: calc( 48% + 1rem);
        position: absolute;
        background-color: #FF7E00;
    }
    .form_gorup .form_input select{
        min-width:auto;
     }
    .khmeetingroom img{width:100% !important;}
    .footer p{
        line-height: 1.25rem;
        text-align: left;
        font-size: 0.75rem;
    }
    .footer p img{
        padding-left: 0;
        padding-right: 0.25rem;
    }
    .footer div{padding:0.5rem 0;}
    .footer_device{padding:0.25rem;}
    .submit, .reset{
        width: 120px;font-size: 0.88rem;
    }
    .footer span{display: block;}
    .frameUrl{
        display: block;width: 96vw;height: 1850px;overflow: scroll;
    }
}

@media (min-width: 767px) {
    .rwd-table td:before {
    display: none;
    }
    .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
    }
    .rwd-table th:first-child,
    .rwd-table td:first-child {
    padding-left: 0;
    }
    .rwd-table th:last-child,
    .rwd-table td:last-child {
    padding-right: 0;
    }
    .rwd-table td {
    padding: 2em 1em !important;
    }
    .rwd-table th{
     text-align: center;
     padding: .75rem;
     word-break: normal;
    }

}


.gmap{width: 100%;height: 26rem;margin:1rem 0;}
.gmapimg{max-width: 100%;height:auto;margin:1rem 0;}
img.ckcode{cursor: pointer;width: 100px;padding:.25rem;margin: initial;margin: 0}