html{font-size: 16px !important;}
@font-face {
    font-family: PingFang SC;
    src: local('PingFang SC');
    src: url('../fonts/PingFangSC-Medium.eot');  /* IE 9 - 11 */
    src:url('../fonts/PingFangSC-Medium.ttf');
}
h1,h2,h3,h4,h5,h6,p,span
{
  font-family: 'PingFang SC','Microsoft JhengHei';
}

body{
    /* font-family: 'Microsoft JhengHei'; */
    font-family: 'PingFang SC','Microsoft JhengHei';
    padding: 0;margin:0;position: relative;
    position: relative;
    width: 100vw;
    overflow-x: hidden;/* width: 1450PX; */
    flex-direction: column;
    min-height: 100vh;
    /* min-height: calc(100% - 0px); */
}
select,button,textarea{
    font-family: 'PingFang SC','Microsoft JhengHei';
}
select {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
/* padding: .5em; */
background: #efefef;
border: none;
border-radius: 3px;
/* padding: 1em 2em 1em 1em; */
font-size: 1em;
}
.select-container {position:relative;display: inline;width: 100%;box-sizing: border-box;}
.select-container:after {content:""; width:0; height:0; position:absolute; pointer-events: none;}
.select-container:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 0.75rem;
    right: 1.15em;
    border-top: 8px solid black;
    opacity: 0.5;
}
.year_search .select-container select.form-control{
    width: calc(7rem - 0.5rem);
    box-sizing: border-box;
}
.year_search .select-container:after{
    top:0.5rem;
}
select::-ms-expand {display: none;}
input.form-control{-webkit-appearance: none;}

button{font-size: 1rem;}
a {text-decoration: none;}
.raw{
    width: 100vw;display: flex;
}
.raw .div{margin: auto;}

.header{
    height: 40px;
    display: flex;
    background: -webkit-linear-gradient(left,#0F7DBB,#2DADC1);
    background: -o-linear-gradient(right,#0F7DBB,#2DADC1);
    background: -moz-linear-gradient(right,#0F7DBB,#2DADC1);
    background: linear-gradient(to right,#0F7DBB,#2DADC1);
}
.header div{
    justify-content: space-between;
    align-items:center;
}
.header i{
    height: 30px;width: 30px;line-height: 30px;border-radius:30px;
    display: inline-block;background: #fff;color:#198BBD;
    font-size: 1.4rem;text-align: center;margin:0 .1rem;}
.community{padding-left:2rem;padding-top:2px;}
.community a{text-decoration:none;}
.community span{
    font-size: 0.8rem;color:#fff;line-height:40px;padding: 0 .25rem;
}
.search{}
.search input{background: transparent;border: 1px solid #fff;
    padding:0 5px;
    height: 22px;width: 132px;color:#fff;font-size: 1rem;}
.search button{background: transparent;height: 24px;border:none;font-size: 1.1rem;color:#fff;cursor: pointer;}
.search input::placeholder { color: #fff;}
.search input:-ms-input-placeholder { color: #fff;}
.search input::-ms-input-placeholder { color: #fff;}
.search select{
    background: transparent;
    border: none;
    font-size:1rem;
    color:#fff;
    margin-left: 2rem;
    min-width: 9vw !important;
    display: inline-block;
}
.search .select-container{width: 10rem;display: inline-block;}
.search .select-container:after{border-top: 8px solid #fff;top:0.75rem;}
.search select option{
    background-color:#219ABF;
}
 
.logo{height:auto;padding:25px 0;}
.logo img{margin-left:20px;height: 42px;}
.logo h1{
    padding: 5px;padding-left: 1.75rem;
    font-size: 2rem;
    border-left: 2px solid #094975;
    height: auto;
    margin:0;
    margin-left: 21px;
}

.menu{
    height: 55px;
    display:block;
    align-items: stretch;
    position: relative;
}
.menu a{
    position: relative;
}
.menu a,.menu span{
    cursor: pointer;
    display:block;
    line-height: 55px;color: #5B5E6D;
    font-weight: bold;font-size: 1rem;
    text-align: center;
    flex: 1;
    flex-basis: auto;
    white-space:nowrap;
    padding:0 1rem;
    text-decoration:none;
}
.menu a:hover,
.menu span:hover{
    color:#fff;
    background-color: #178ABC;
}
.childmenu{
    display:none;
    position: absolute;
    top: 55px;
    z-index: 10;
}
.menu .childmenu a:hover{
        color:#fff;
    background-color: #178ABC;
}
.menu .childmenu a{
    text-align: left;
    margin-top: 0.15rem;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px -1px 5px #ccc;
}
.menu a:hover > .childmenu,.childmenu:hover{
    display:block;
    left: 0;
}

.more{
    color:#1382BC;
}
.more i{
  padding:0 .75rem;

  -webkit-transition: -webkit-transform .3s ease-in-out;
  -ms-transition: -ms-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;  
}
.more.active i{
    transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
 }
.menuItem{
  position: absolute;top:55px;width: 100vw;
  box-shadow:inset -3px 2px 12px #ccc;
  background-color:#fff;

  -webkit-transition: max-height 0.5s; 
  -moz-transition: max-height 0.5s; 
  -ms-transition: max-height 0.5s; 
  -o-transition: max-height 0.5s; 
  transition: max-height 0.5s;  
  overflow: hidden;
  max-height: 0;
}
.menuItem .col-12{
    flex-wrap:wrap;padding:0 .5rem;
    align-self:stretch;
}
.menuItem a{
    display: inline-block;
    color: #5B5E6D;
    font-weight: bold;
    font-size: .75rem;
    text-align: left;
    white-space:nowrap;
    text-decoration:none;
    line-height: 1.75rem;
    flex-grow:inherit;
    padding: 0 1rem;
    white-space: normal;
    margin:0 .25rem;
}
.menuItem .col-2{
  flex-direction:column;margin-bottom: 1rem;
}
.menuItem.active{
    z-index: 99;
    opacity: 1;
    max-height: 200vh;
}
.menuItem.active::before{
  content: '';
  background: #fff;
  width: 100vw;
}
.menuItem .close{
  height: 2.5rem;
  width: 100%;
  margin-bottom:.25rem;
  text-align: right;
}

.menuItem .close .closeicon{
    position: relative;
    display:inline-block;
    width: 2.3rem;
    height: 2.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}
.closeicon::before, .closeicon::after {
    content: '';
    position: absolute;
    height:2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #fff;
}

.closeicon::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.closeicon::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menuItem .title{
    line-height: 3rem;background-color: #F1F1F1;
    padding:0 .25rem;margin:0 .25rem;
    font-size:1rem;
  }
.menuItem .title:hover,
.menuItem a:hover{background-color: #1180BB;color:#fff;}

.mainImg{
    height: 190px;width: 100%;background-image: url('../img/event.png');
    background-size: cover;background-position: center;background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.mainImg h1{
    font-size: 2.5rem;color:#fff;padding-left: 2.5rem;
}

div.main{
   padding-top:4rem;
   padding-bottom:4rem;
   min-height: 80vh;
   /* justify-content: flex-start;
   align-items: flex-start; */
   display: block;
}
div.iemain{display: inline-flex;justify-items: flex-start;}
div.main div{min-height: 1px;}
.pageBg{
    background-image: url('../img/page_bg.png');
    background-size:100%;background-repeat: no-repeat;
}
/* rwd base setting */
.col-12{width: 1120px;margin: auto;display: flex;}
.col-full{width:100%;margin: auto;display: flex;}
.col-2{width: 16.66%;display: flex;}
.col-3{
    width: 25%;
    display: inline-flex;
    box-sizing: border-box;
}
.col-4{width: 33.3333%;display: inline-flex;
    box-sizing: border-box;}
.col-6{width: 50%;display: flex;}
.col-8{width: 66.66%;display: flex;}
.col-9{width: 75%;
    display: inline-flex;
    box-sizing: border-box;
}


.sideMenu{
 padding:1rem .25rem;flex-direction:column;
}
.sideMenu a{
    background-color:#fff;
    text-decoration:none;
    color:#000;
    font-weight: bold;
    padding: 1rem;
    border: 1px solid #8BC5E5;
    border-bottom: none;
}
.sideMenu a:hover,.sideMenu a.active{
    color:#1382BC;
}
.sideMenu a:last-child{
    border-bottom: 1px solid #8BC5E5;
}
.basebtn{
  width: 100%;
  background-color:#fff;
  border: 1px solid #3DAEDD;
  text-align: center;
  line-height:2.5rem;
  margin-top:1.5rem;
  cursor: pointer;
  color:#3DAEDD;
  font-size: 1rem;
}
button:disabled{background: #F1F1F1;color:#3DAEDD}
.basebtn:hover{background:#3DAEDD;color:#fff;}

.submit,.reset{width: 150px;}
.submit{margin-right: 1rem;}
.leftside{
    flex-direction:column;
    border: 1px solid #8BC5E5;padding: 1rem;}
.leftside label{color:#0F7DBB;font-weight: bold;
    display: block;line-height:2.25rem;}
.leftside span{display: block;line-height:2.25rem;}
.leftside a{color:#3DAEDD;font-weight: normal;
    display: block;line-height:2.25rem;}
.content{
    flex-direction:column;
    padding: 1rem;
    flex-basis: auto;
}
.info{
    line-height: 2rem;margin-bottom: 1rem;
}
.divice_line{
    margin:1rem 0;
  border-bottom:8px solid #1382BC;
}
.year_search{text-align: right;line-height: 3rem;}
.year_search label{color:#1382BC;}
.year_search select{
    width: 4rem;display: inline-block;
    margin-left: .25rem;margin-right:0;
    background-color:transparent;
}
.tool{
    text-align: right;
    margin-bottom: 1rem;;
}
.txtdetail .tool img{
    display: inline-block;
    padding: 0 0.25rem;
    cursor: pointer;
}

.link_color a{color:#1382BC !important;}

a.link{color:#0F7DBB;font-size: 0.9rem;line-height: 1.5rem;}
/* event detail */
.txtdetail{}
.txtdetail p img{max-width:100%;height: auto;}
.txtdetail h1{
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom:.75rem; 
    border-bottom: 12px solid #1382BC;
}
.txtdetail span.author,.txtdetail span.date{
    color:#0F7DBB;display: block;
}
.txtdetail p{
    padding-top:.75rem;
    line-height: 1.75rem;
    padding-bottom:.75rem;
    word-break:break-word;
}
.txtdetail p ol,.txtdetail p ul{
    list-style:initial;
    padding-left:1.5rem;
}
.txtdetail img{display: block;margin: auto;padding-bottom:.5rem}
.txtdetail a{
    color:#0F7DBB; }
/* reset css */
.txtdetail p ul
{list-style: inherit;padding: inherit;padding-left: 1.25rem;}
.attach{padding-bottom:.75rem;}
.filelink{
  color:#000;text-decoration:none;
  line-height: 1.5rem;
}
.linerbg{
    background: -webkit-linear-gradient(left,#0F7DBB,#2DADC1);
    background: -o-linear-gradient(right,#0F7DBB,#2DADC1);
    background: -moz-linear-gradient(right,#0F7DBB,#2DADC1);
    background: linear-gradient(to right,#0F7DBB,#2DADC1);
    color:#fff;
}
.back{
    margin: auto;
    margin-top: 2rem;
    max-width: 10rem;
    height: 2.5rem;
}
.filelink i{
  color:#FE9839;
  font-size: 1.25rem;
  padding-left:.5rem;
-moz-transform:scaleX(-1);
-webkit-transform:scaleX(-1);
-o-transform:scaleX(-1);
transform:scaleX(-1);
}

/* tradeshow */
.showItem{}
.showItem:first-child{padding-top:0;}
.showItem:nth-child(even){
    background: #EDF7FD;
}
.showItem .col-3{
    display: inline-flex;
    align-items: baseline;
}
.showItem .col-3 img{
  display: block;margin: auto;
}
.showItem .col-9{
    padding-top:1rem;
    padding-right: 1rem;
    flex-direction:column;
}
.showItem .info a,.showItem label{
  color:#1382BC;font-weight: bold;
}
.showItem label{display: list-item;}
.showItem label span{
  color:#000;
}
.showItem p{
  font-size: .95rem;
}

.rwd-table {
    overflow: hidden;
}
.rwd-table tr:first-child{
    background: transparent !important;
}
.rwd-table tr:nth-child(even){
    background: #EDF7FD;position: relative;
}

.rwd-table td {
    margin: 0.5em 1em;
}
.rwd-table th {
   
}
.rwd-table th:first-child, .rwd-table td:first-child{
    white-space:nowrap;
}
.rwd-table {
    min-width: 100%;
    position: relative;
    top: -15px;
}

.rwd-table th {
    display: none;
}

.rwd-table td {
    display: block;
}

.rwd-table td:before {
    content: attr(data-th) " : ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}

.rwd-table th, .rwd-table td {
    text-align: left;
}

.rwd-table th, .rwd-table td:before {
    color:#1382BC;
    font-weight: bold;
    border-bottom: 8px solid #1382BC;
}
.rwd-table a{
    text-decoration:none;color:#000;line-height: 1.5rem;
}
.pagination{
    display: flex;
    margin: auto;
    border-radius: .25rem;
    margin-top:2rem;
    justify-content: center;
}
.page-item:first-child .page-link{
  margin-left: 0;
  border-radius: .25rem;
}
.page-item{margin:0 .25rem;}
.page-link{
    width:30px;height:30px;
    text-align: center;line-height:30px;
    position:relative;display:block;margin-left:-1px;
    color:#20a8d8;background-color:#fff;
    color:#595959;
    border:1px solid #D9D9D9;
    text-decoration:none;
    border-radius: .25rem;
}
.page-item.disabled .page-link{
    color:#D9D9D9;
}
.page-item.active .page-link{
    border-color: #1890FF;
    color:#1890FF;
}
.bottommenu{height: 55px;
    display:flex;
    align-items: stretch;
    background-color: #EEF0F1;
    justify-content: center;
    flex-grow:1;
}
.bottommenu a{
    display:block;
    line-height: 55px;color: #5B5E6D;
    font-weight: bold;font-size: 1rem;
    text-align: center;
    flex: 1;
    flex-basis: auto;
    white-space:nowrap;
    padding:0 1rem;
}

/* form */
.require{color:#FF0000}
.fieldset{padding: 1rem;}
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading span{padding: 0 2rem;}
form.base{}
.forminfo{
    flex-direction: column;
    align-items:flex-start;
    margin-bottom: 2rem;
}
.forminfo img{margin: 0;}
.forminfo span,.forminfo img{
 display: block;
}
.formPre h1,
form.base h1{font-size: 1.25rem;color:#3DAEDD}
.formPre h1 .note,
form.base .note{font-size: .75rem;color:#3DAEDD}

.form-control{
    box-sizing: content-box;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2rem;
    background-color: #fff;
    background-clip: padding-box;
    border-radius:.25rem;
    border:1px solid #ced4da;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-right: .5rem;
}
select.form-control{
    width: calc(100% - 0.5rem);
    box-sizing: border-box;

}
.fieldset {
    display: flex;
    flex-wrap:wrap;
}

.form_gorup{
    width: 100%;
    display: inline-flex;
    margin-bottom: 1rem;
    flex-direction:column;
}
.fieldset label{
    line-height: 1.25rem;
    padding: .375rem 0;
    text-align: left;
}
.form_gorup .form_input{
    display: inline-flex;
}
.form_gorup .form_input span{
    padding: .375rem .75rem;
}
/* trade form fixed */
.form_gorup.col-8{
    width: 75%;
}
.form_gorup.col-4{
    width: 25%;
}
.formtable.rwd-table th, .rwd-table td:before{
    border-bottom: none;
}
.formtable.rwd-table td{
    padding: .25em !important;
    text-align: center;
    vertical-align: middle;
}
.formtable.rwd-table tr:nth-child(odd){
  background: #fff;
}
.formtable.rwd-table .col-full .select-container select{
    min-width: auto;
}
.fieldset .comment{
    width: 100%;
    height: 120px;
    border-radius:.25rem;
    border: 1px solid #ced4da;
    padding: .375rem .75rem;
    font-size: 1rem;
    box-sizing: border-box;
}
.fieldset input[type=file]{
    color:#3DAEDD;
}
.updfile{display: block;margin: auto}

.sitemap{
    display: flex;
    justify-content: flex-start;
   align-items: flex-start;
    flex-wrap: wrap;
}
.sitemap a{
    text-decoration: none;
    color:#000;
    line-height: 2.5rem;
}
.sitemap a:hover{color:#0F7DBB;}
.sitemap a h1{
    color:#0F7DBB;
    font-size: 1.2rem;
}
.sitemap a h1::after{
 content: '';
 height: 6px;
 display: block;
 width: 90%;
 margin-top: .5rem;
 margin-bottom: .5rem;
 background: -webkit-linear-gradient(left,#0F7DBB,#2DADC1);
 background: -o-linear-gradient(right,#0F7DBB,#2DADC1);
 background: -moz-linear-gradient(right,#0F7DBB,#2DADC1);
 background: linear-gradient(to right,#0F7DBB,#2DADC1);
}
.sitemap .col-4{
  flex-direction:column;margin-bottom: 1rem;
}


/* home */
.mainbanner{
    width: 100vw;
    background-size: cover;
    background-position: center;
}
.mainbanner img{
    width: 100%;height: auto;
}
div.swiper-button-prev,
div.swiper-button-next
{
    width: 27px !important;height: 44px !important;
}
/* custom swipe btn */
.homebanner .swiper-button-disabled{opacity: 0.35 !important;pointer-events:painted !important;cursor: pointer !important;}
.homebanner .swiper-button-prev{left:1.5rem;}
.homebanner .swiper-button-next{right:1.5rem;}

.homebanner .swiper-button-next
{
    color:transparent;
    background-image: url('../img/arrow_w_l.png');
    background-repeat: no-repeat;
    background-size: 16px ;
    background-position: center;
    -moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}
.homebanner .swiper-button-prev
{
    color:transparent;
    background-image: url('../img/arrow_w_l.png');
    background-repeat: no-repeat;
    background-size: 16px ;
    background-position: center;
}
.homebanner .swiper-button-prev:after
{
    color:transparent;
    background-image: url('../img/arrow_w_l.png');
    background-repeat: no-repeat;
    background-size: 16px ;
    background-position: center;
}

div.ans-next{
    color:transparent;
    background-image: url('../img/arrow_b_l.png');
    background-repeat: no-repeat;
    background-size: 16px ;
    background-position: center;
    -moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}
/* .homebanner .swiper-button-next:after,.homebanner .swiper-button-prev:after{
    font-size: 1.5rem;
} */

/* custom swipe btn */
.ans-next.swiper-button-next:after, .ans-pre.swiper-button-prev::after
{font-size: 1.75rem;}
.ans-next.swiper-button-next{ right:-1.5rem !important;}
.ans-pre{ 
    left:-1.5rem !important;
    color:transparent;
    background-image: url('../img/arrow_b_l.png');
    background-repeat: no-repeat;
    background-size: 16px ;
    background-position: center;
}
div.swiper-container div.ans-pre,div.swiper-container div.ans-next
{width: 27px !important;height: 44px !important;}
.tradeInq {padding: 1rem;margin: auto;}
.tradeInq img{width: 100%;max-width: 646px;display:block;margin:1rem 0;}

.maintitle{}
.maintitle h1{margin:2rem auto 1.5rem auto;font-size:2rem;font-weight: bold;}
.main_event {padding: 1rem;margin: auto;justify-content: center;}
.event_left,.event_right{
    border: 2px solid #F2F2F2;
}
#fixed_ad{position: fixed;right: 0;bottom: 9rem;z-index: 20;width: 7rem;}
#fixed_ad img{width: 100%;}
.event_left .calendar{width: 100%;display: block;}
.event_left{
    border-right: none;align-items:flex-start;background-color: #F2F2F2;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.week,.date_list{display: flex;flex-wrap: wrap;padding:0 .25rem;}
.date_list{padding-bottom: 1rem;}
.calendar{

}
.fullimg{width:100%;}
.noData{text-align: center;line-height: 3rem;margin-top: 1rem;}
/* .calendar img{width: 100%;} */
.calendar .week span,.calendar .date_list span{
   display: inline-block;
   width: 14.28%;text-align: center;
   height:2.75rem;line-height:2.75rem;
   font-size: .85rem;
 }
 .calendar .week span{font-weight: bold;font-family: sans-serif;}
 .calendar .date_list span{position: relative;z-index: 0;color:#6B6767;font-size: .65rem;}
 .calendar .act{font-weight: bold;}
 .evt{color:#fff !important;cursor: pointer;}
 .evt::after{
   content: '';
   position: relative;top: -2.15rem;
   z-index: -1;
   border-radius: 1.75rem;
   background-color:#FF8600;
   width: 1.75rem;
   height: 1.75rem;
   display: block;
   margin: auto;
 }
 .line{text-decoration:underline;cursor: pointer;}
 .main_event_list{display: flex;flex-wrap: wrap;padding: 1rem;width: 100%;}
 .main_event_list label,.main_event_list span{display: block;}
 .main_event_list label:first{margin-top:0;}
 .main_event_list label{color:#FF8600;margin-top:0.75rem;}
 .main_event_list label span{display: inline-block;border: 1px solid #FF8600;padding: .25rem;line-height:.65rem;margin-left: 1rem;font-weight: normal;font-size: 0.85rem;}
 .main_event_list span{line-height: 1.75rem;font-weight: bold;font-size: 1.15rem;padding-bottom: 1.25rem;}
 .main_event_list a{color:#000}

 .main_event_list .basebtn {color:#fff}
 .scroll{width: 100%;max-height:14rem;min-height:12rem;overflow: scroll;overflow-x: hidden;}
 .calendar_select{position: relative;display: flex;flex-wrap: wrap;justify-content:space-between;}
 .calendar_select .date{display: flex;flex-wrap: wrap;}
 .calendar_select .pre,.calendar_select .next{cursor: pointer;background-image: url('../img/date-arrow.png');background-repeat: no-repeat;background-position: center;height: 1.75rem;width: 2rem;}
 .calendar_select .next{transform:scaleX(-1);}
 .calendar_select .date .pre,.calendar_select .date .next{background-image: url('../img/year-arrow.png');background-repeat: no-repeat;background-position: center;height: 1.75rem;width: 2rem;}
 .calendar_select .date .year{line-height: 1.75rem;}
 /* scroll css */
 ::-webkit-scrollbar { width: 5px; }
 ::-webkit-scrollbar-track {-webkit-border-radius: 10px;border-radius: 10px;margin:0;}
 ::-webkit-scrollbar-thumb { -webkit-border-radius: 4px;border-radius: 4px;background: #FF8600;}

 .scroll label i{
    display: inline-block;
    background-image: url('../img/calendar.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 1.25rem;
    height: 1rem;
    margin-right: 0.25rem;
    opacity: 0.25;
    cursor: pointer;
}
 .ans_bg{
    background-image: url('../img/ans.jpg');
    background-repeat: no-repeat;
    background-size: 100vw auto;
    min-height: 600px;
  }
 .announce{
    width: 100vw;
    max-height: 485px;
  }
  .ansItem{
        border: 1px solid #ddd;
        padding: .75rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        background-color: #fff;
        text-align: center;
        height: 100%;
   }
   
   .ansItem label{padding: 1rem 0 0.5rem 0;border-bottom: 1px solid #D9D9D9;margin-bottom: 0.5rem;display: block;color: #5B5B5B;}
   .ansItem label.new{padding-left:1.5rem;}
   .ansItem label.new::before{
      content: '';
      display: inline-block;
      position: absolute;
      top:0;
      left: 0.75rem;
      width:1.5rem;
      height:2.5rem;
      background-image: url('../img/top.png');
      background-repeat: no-repeat;
   }
   .ansItem div img{width: auto; max-width: 100%;height: auto;max-height: 10rem;}
   .ansItem p{
       font-size: 1.2rem;font-weight: bold;line-height: 1.5rem;
       padding: 0.5rem 0;text-align:left;color:#000;
       word-break:break-word;
    }

   .video_view{padding-right: 1rem;}
   .video_txt{display:inline-block;}
   .video_txt h1{font-size: 1.5rem;font-weight: bold;margin-bottom: 1rem;}
   .video_txt p{line-height: 2rem;}

   .related{margin-bottom:1.75rem;}
   .related .col-4{width: 33%;padding:0 1rem; box-sizing: border-box;}
   /* .related .col-4 .related{margin-right: 1rem;box-sizing: border-box;}
   .related .col-4:last-child .related{margin-right: 0rem;box-sizing: border-box;} */
   .related img{width: 100%;max-height: 150px;}
   .related .col-4 .related a{display:block;width: 100%;}
   
   .backTop{
    display: none;
    width: 5.75rem;
    position: fixed;
    right: 10px;
    height: 2.5rem;
    color:#1d82b9;
    text-decoration: underline;
    bottom: 2.5rem;
    z-index: 90;
    line-height: 2.5rem;
    text-align: center;
    cursor: pointer;
    background: transparent;
}
.footer{
    flex-grow: 1;
    background-color:#F5F5F5;
}
.footer div.col-12{
    padding:10rem 0 4rem 0;
    background-image: url('../img/footer_bg.png');
    background-repeat: no-repeat;
    background-size: 25rem;
    background-position: left;
}
.footer .col-3 p,
.footer .col-6{padding-left: 1rem;box-sizing: border-box;}

.footer p{
  width:100%;text-align: left;
  line-height: 1.25rem;
  color:#6E6E6E;
}
.footer p img{
    width: 1.5rem;
    position: relative;
    top: 5px;
    padding: 0 0.25rem;
}
.footer span{display: block;}
.footer p a{color:#6E6E6E;}
.footer .col-6{flex-wrap: wrap;}
.footer .col-6 p{

}
.conf{
    color:#1382BC;
    font-size: 1.25rem;
}
.conf_form{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.conf_form .fieldset{width: 100%;}
.conflabel{
    color:#1382BC;
    margin-top:0.75rem;
    margin-bottom:0.25rem;
}
.confItem{}
.confItem:first-child{padding-top:0;}
.confItem:nth-child(even){
    background: #EDF7FD;
}
.confItem .col-3{
    /* display: inline-flex; */
    display: inline-block;
}
.confItem .col-3 img{
  width: 90%;display: block;margin: 5%;
}
.confItem .col-9{
    padding-top:1rem;
    padding-right: 1rem;
    flex-direction:column;
}
.confItem .info a{
  color:#1382BC;
  font-weight: bold;
  text-decoration: none;
}
.confItem label{display: inline-block;}
.confItem label span{
  color:#000;
}
.confItem p{
  font-size: .95rem;
}
.form_gorup .form_input span.tag{
    padding:.375rem .15rem;
}
.form-control.inline{
    margin-right:0;
}

.step{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.step li{
    display: block;
    position: relative;
    width: 25%;
}
.step li label{
    color: #1181BC;
    margin-bottom: 0.25rem;
    display: block;
    text-align: center;
    font-size: 0.88rem;
    height: 2rem;
}
.step li span{
    display: block;
    margin: auto;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    border: 2px solid #B4B4B4;
    color: #B4B4B4;
    border-radius: 1.5rem;
    background: #fff;
    z-index: 3;
}
.step li span::after{
    content: '';
    width: 100%;
    height: 2px;
    top: 3.65rem;
    left: calc( 49% + 0.88rem);
    position: absolute;
  background-color: #E2E2E2;
}
.step li.active span{
    border: 2px solid #1382BC;
    background: #1382BC;
    color: #fff;
}
.step li.active span::after{
    content: '';
    width: 100%;
    height: 2px;
    top: 3.65rem;
    left: calc( 49% + 0.88rem);
    position: absolute;
    background-color: #1382BC;
}
.step li:last-child span::after
{
    content: none;
}
.help-block{padding: 0.25rem;color: red;}
.help-jq{padding: 0.25rem;color: red;display: none;}
.confDetail{flex-wrap: wrap;}
.confDetail h2,.confDetail p{width: 100%;}
.confDetail .info{width: 100%;}
.confDetail .info label{color:#1382BC;}
.confDetail .info label span{color:#000;}
.confDetail h2{color:#1382BC;font-size:1.25rem;margin:2rem 0;}
.confDetail table{margin: 0.5rem 0;}
.confDetail table tr td{padding:0 0.75rem; }
.confDetail table.cimg tr td{padding:0; }
.confDetail table.cimg tr td{
     width: 100%;
     display: flex;
     flex-direction: row
 }
.confDetail table.cimg tr td img{ width:100%; }
img.confimg{
    margin: 2rem 0;
    max-width: 320px;
}

.frameUrl{
    display: block;width: 960px;height: 1550px;
}

.anstable .col-full{
    justify-content: center;
}
@media (max-height: 500px) {
    /* div.next,div.btn,div.footer{
        display: none;
    } */
}

@media print{
    .header,
    .tool,
    .menu,
    .mainImg,
    .basebtn,
    .backTop,
    .bottommenu,
    .cookiesBox,
    .sideMenu,
    #mobile_menu,
    #mobile_menu_block,
    .leftside,
    #at-custom-sidebar
    {display: none !important;}
    .col-12{width: 100% !important;}
    .col-9{width: 100% !important;}
    div.main{min-height: inherit;}
}
/* ipad */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1120px)  { 
    .header{height: 3rem;}
    .menu a, .menu span{line-height: 48px;}
    .menu a{font-size: 0.88rem;padding: 0 0.15rem;}
    .menuItem .title{font-size: 0.88rem;}
    .childmenu{top:48px;}
    .menuItem a{padding:0 0.25rem;line-height: 1.5rem;}
    .search .select-container{width: 7rem;display: inline-block;}
    .search .select-container:after{top:0.75rem;}
    .search select{margin-left:0;}
    .menu .col-12{width:100%;}
    .col-12{width: 98vw;margin: auto;display: flex;flex-wrap:wrap;padding: 1vw;box-sizing: border-box;}
    .ans_bg .col-12{width:90vw;margin: auto;display: flex;flex-wrap:wrap;padding: 1vw;box-sizing: border-box;}

    .col-full{width:100%;margin: auto;display: flex;}
    .col-4.event_left{width: 100%;display: flex;box-sizing: border-box;}
    .col-8.event_right{width: 100%;
        display: flex;box-sizing: border-box;
    }
    .related .col-4{padding:0 1rem;box-sizing: border-box;}

    .rwd-table{width:100%;table-layout: fixed;}
    .rwd-table td:first-child{white-space:inherit;}
    .rwd-table td{
        padding: 1em 0.25em !important;
        word-break:break-all;
    }
    div.cookiesBox{bottom: 56px !important;}

    /* trade form fixed */
    .fieldset .col-12{padding-left: 0;padding-right: 0;}

}
/* mobile */
@media screen and (max-width: 767px){
    body { margin-top: 50px;position: relative; } 
    /* rwd base setting */
    .col-12{width: 96vw;margin: auto;display: flex;flex-wrap:wrap;padding: 1vw;}
    .col-full{width:100%;margin: auto;display: flex;}
    .col-2{width: 100%;display: flex;}
    .col-3{width: 100%;
        display: flex;box-sizing: border-box;
    }
    .col-4{width: 100%;display: flex;}
    .col-6{width: 100%;display: flex;}
    .col-8{width: 100%;display: flex;}
    .col-9{width: 100%;display: flex;}

    /* menu */
    #mobile_menu{
        display: -webkit-flex;display: flex;width:100%;background-color: #fff;
        height:50px;width:100%;position:fixed;top:0px;z-index:99;
        box-shadow:1px 1px 3px rgba(20%,20%,40%,0.5);
    }
    .mMenu,.mSearch{-webkit-flex: none;flex: none;width:50px;height:50px;text-align: center;line-height:50px;}
    .mMenu i,.mSearch i{color:#14A0C9;font-size: 1.25rem;}
    .mLogo{-webkit-flex:1;flex:1;height:50px;
        display: flex;
    }
    .mtitle{
        display: inline-flex;
        height: 50px;
        font-size: 4vw;
        word-break:break-word;
        align-items:center;
        line-height: 0.88rem;
    }
    .mLogo img{height: 25px;margin-top: 12px;
        padding-right:6px;margin-right:6px;border-right: 1px solid #0E456E;
    }
	#mobile_menu_block a{text-decoration: none}
    #mobile_menu_block{
        display:block;
        padding-bottom: 150px;
        width:75vw;
        height: calc(100vh - 150px);
        position: fixed;
        top:51px;
        z-index:99;
        background:#fff;
        overflow-y:auto;
        overflow-x:hidden;
        left:0;
    }
	#mSearch_bar{background:#2BAAC0;width:100%;position:fixed;top:0;height:50px;z-index:100;display:flex;left:100%}
	#mSearch_bar input{height:25px;margin-top:10px;border:none;width:100%}
	#mSearchback{-webkit-flex: none;flex: none;width:50px;height:50px;background-image:url("../img/arrow.png");background-repeat: no-repeat;background-position:15px 17px;}	
	#mSearchSubmit{-webkit-flex: none;flex: none;width:50px;height:50px;background-image:url("../img/search.png");background-repeat: no-repeat;background-position:15px 13px;}	

    #mobile_menu_block ul li,#mobile_menu_block label
    {width:100%;margin:0;line-height:38px;}	
    #mobile_menu_block ul li:hover{background-color: #F1F1F1;}
    #mobile_menu_block .mItem{position: relative;}
    #mobile_menu_block .mItem label{
        width:calc(100% - 20px);
        padding-left: 10px;padding-right: 10px;
        display: block;}
    #mobile_menu_block .mItem input{display: none;}
    #mobile_menu_block .mItem i{
        position: absolute;right: 10px;font-size: 1.25rem;top: 8px;color: #14A0C9;
        transition-duration: 0.5s;
        transition-property: transform;
    }

	#mobile_menu_block ul li span{padding-left:5px}	
    #mobile_menu_block ul li a{
        display:inline-block;
        width:calc(100% - 20px);
        text-decoration:none;
        color:#64656A;padding-left:20px;}
	#mobile_menu_block .active{background:#73c34f;background-image:url("images/arrow_1.png");background-repeat: no-repeat;background-position:90% 15px;color:#fff;}
    #mobile_menu_block .SecondItem{
        background:#F8F8F8;
        -webkit-transition: max-height 0.3s; 
        -moz-transition: max-height 0.3s; 
        -ms-transition: max-height 0.3s; 
        -o-transition: max-height 0.3s; 
        transition: max-height 0.3s;  
        overflow: hidden;
        max-height: 0;
    }

    #mobile_menu_block ul .SecondItem a{padding-left:5%;width:92%;}
    #mobile_menu_block input:checked + label {background-color: #F1F1F1;}
    #mobile_menu_block input:checked ~.SecondItem{display: block;max-height:200vh;}

    #mobile_menu_block input:checked ~ i{
        transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        -webkit-transform:rotate(90deg);
     }

    #mobile_menu_block{
        transition-duration: 0.5s;
        transition-property: transform;
        transform:translateX(-100%);
    }
    #mobile_menu_block.active{
        transform:translateX(0%);
    }
    div.main{padding-top:2rem;}
    .ans_bg{
        min-height: auto;
        margin-bottom:3rem;
    }
    #act_bg{
		position: fixed;left:0;bottom:0;
		width: 100vw;height:100vh;background:#000;
        z-index: -1;
        /* opacity: 0.85; */
        opacity:0;
        transition:opacity 0.3s ease-in;
    }
    #act_bg.active{
        opacity: 0.85;
        z-index: 98;
    }
    .mCommunity{
        padding: 10px;
    }
    .mCommunity span{display: block;padding-bottom:.5rem;}
    .mCommunity a i{
        height: 30px;width: 30px;line-height: 30px;border-radius:30px;
        display: inline-block;background: #fff;color:#198BBD;
        font-size: 1.4rem;text-align: center;margin:0 .1rem;}
        .mCommunity select{
            font-size: 1rem; color: #fff;background: transparent;
            border: none;height: 2rem;left: -4px;position: relative;
         }
        /* home */
    .mainbanner{}
    .video_view{padding-right: 0;margin-top:2rem;}
    .video_txt{flex-wrap: wrap;margin-top: 1rem;margin-bottom:2rem;}
    div.event_left{
        border: none;padding: 2px;
    }
    .main_event_list{padding:0.5rem;}
    .main_event_list a{color:#000}
    .tradeInq{padding:0.5rem;padding-bottom:0;}
    .homebanner .swiper-button-next{right: 0.5rem;}
    .homebanner .swiper-button-prev{left: 0.5rem;}

    .ansWith{width: 85vw;}
    /* page */
    .mainImg{height:10rem;text-align: center;display: inline-flex;}
    .mainImg h1{
        font-size: 7vw;
        line-height:initial;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        width: 92vw;
        text-align: left;
        padding-left: 0;
    }
    .txtdetail{margin-top:0;margin-bottom: 0;}
    /* footer */
    .bottommenu{
        height: auto;
        text-align: center;
    }
    .bottommenu .col-8{
        display: inline-block;
    }
    .bottommenu a{
        display: inline-block;
        font-size: .95rem;text-decoration:underline;
    }
    .footer div.col-12{padding-top: 23vw;background-size: 100%;background-position: top center;}

    .rwd-table td{margin:0.75em 3px;}
    .ieinline{display: inline !important;}
    .aboutus.rwd-table td{margin:0.15em 3px;}
    .aboutus.rwd-table tr{margin: 0.5rem 0;padding: 0.5rem;display: block;}
    .aboutus.rwd-table td:before{
        display: inline-block;width: auto;margin:5px 5px 5px 0; min-width: auto;;
    }
  
    .leftside,.sideMenu{margin-bottom:2.5rem;}
    .content{padding:1rem 0 !important;}
    .rwd-table td:before{display: block;width: 100%;margin:10px 0;
        min-width: calc(100vw - 5vw);box-sizing: border-box;
    }
    .link_color a{font-size: 0.85rem;line-height: 1.35rem;}
    .showItem{flex-wrap: wrap;}
    .showItem .col-3{padding: 0.5rem 0;}
    .showItem .col-9{
        padding-right:0.5rem;
        padding-left:0.5rem;
    }
    .showItem label{display: block;}
    .showItem label::before{
        content: '・';
    }
    form.base{width: 100%;}
    .fieldset{padding:1rem 0; }
    .form-control:last-child{margin-right: 0}
    /* trade form fixed */
    .col-8 .form-control:last-child{margin-right:.5rem}
    .formtable.rwd-table td{
        margin: 0.25em 3px;
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
    }
    .formtable.rwd-table td{
        display: inline-block;
        align-items: center;
        width: 96%;
    }
    .formtable.rwd-table td:before{
        margin:5px 0;text-align: left;color:#000;
    }
    .formtable.rwd-table td:first-child{
        text-align: left;display: inline-block;
     }
    .formtable.rwd-table td:first-child:before{
      display: inline;
    }


    #fixed_ad{
        bottom:12rem;
    }
    .backTop{
        height: 3rem;
        width: 3rem;
        line-height: 3rem;
        border-radius: 3rem;
        background: rgba(255, 255, 255, 0.75);
    }
    .step li label{font-size: 0.65rem;}
    .step li span::after{
        content: '';
        width: 100%;
        height: 2px;
        top: 3.75rem;
        left: calc( 48% + 1rem);
        position: absolute;
      background-color: #E2E2E2;
    }
    .step li.active span::after{
        content: '';
        width: 100%;
        height: 2px;
        top: 3.75rem;
        left: calc( 48% + 1rem);
        position: absolute;
        background-color: #1382BC;
    }
    .form_gorup .form_input select{
        min-width:auto;
     }
    .khmeetingroom img{width:100% !important;}
    .footer p{
        line-height: 1.25rem;
        text-align: left;
        font-size: 0.75rem;
    }
    .footer p img{
        padding-left: 0;
        padding-right: 0.25rem;
    }
    .footer div{padding:0.5rem 0;}
    .footer_device{padding:0.25rem;}
    .submit, .reset{
        width: 120px;font-size: 0.88rem;
    }
    .footer span{display: block;}
    .frameUrl{
        display: block;width: 96vw;height: 1850px;overflow: scroll;
    }
}

@media (min-width: 767px) {
    .rwd-table td:before {
    display: none;
    }
    .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
    }
    .rwd-table th:first-child,
    .rwd-table td:first-child {
    padding-left: 0;
    }
    .rwd-table th:last-child,
    .rwd-table td:last-child {
    padding-right: 0;
    }
    .rwd-table td {
    padding: 2em 1em !important;
    }
    .rwd-table th{
     text-align: center;
     padding: .75rem;
     word-break: normal;
    }

}


.gmap{width: 100%;height: 26rem;margin:1rem 0;}
.gmapimg{max-width: 100%;height:auto;margin:1rem 0;}
img.ckcode{cursor: pointer;width: 100px;padding:.25rem;margin: initial;}