<div class="raw">
    <div class="mainImg">
        <h1 class="col-12">{{'form.mission' | i18n}}</h1>
    </div>
</div>
<div class="raw pageBg">
    <div class="col-12 main">

         <div class="topMemu col-12">
            <a routerLink="/event/list">{{'menu.events' | i18n}}</a>
            <a routerLink="/tradeShow">{{'menu.TTS' | i18n}}</a>
            <a class="active">{{'form.mission' | i18n}}</a>
         </div>
         
         <div class="col-12 content">
              <div class="year_search">
                    <label>{{'year' | i18n}} :</label>
                    <div class="select-container">
                        <select class="form-control" [(ngModel)]="selectYear" (ngModelChange)="selectYear=$event;optChange()">
                            <ng-container *ngFor="let y of Years">
                                <option [value]="y">{{y}}</option>
                            </ng-container>
                        </select>
                    </div>
                    
              </div>
              <table class="rwd-table tmission">
              　
                    <tr>
                       <th>{{'event.date' | i18n}}</th>
                       <th>{{'event.name' | i18n}}</th>
                    </tr>
                    <ng-container  *ngIf="PageData">
                        <tr *ngFor="let item of PageData">
                            <td [attr.data-th]="('event.date' | i18n)">{{item.start}} ~ {{item.end}}</td>
                            <td [attr.data-th]="('event.name' | i18n)">
                                    <a href="{{item.url}}" target="_blank">{{item.name}}</a>
                            </td>
                        </tr>
                    </ng-container>
                    <!-- <tr>
                       <td data-th="Date">11/05  ~ 11/07</td>
                       <td data-th="Event">
                             <a href="">Smart City Exploration Mission 2019</a>
                        </td>
                    </tr> -->
              </table>
              <pagination [SourceData]="DataSource" (PageData)="SetPage($event)"></pagination>
              <div class="noData" *ngIf="PageData && PageData.length == 0">{{ 'form.noData' | i18n }}</div>
            
         </div>
    </div>
</div>
