<div class="raw">
        <div class="mainImg">
            <h1 class="col-12" *ngIf="Data">{{Data.name}}</h1>
        </div>
  </div>
  <div class="raw pageBg">
        <div class="col-12 main" *ngIf="Data">
             <!-- <h1>{{Data.name}}</h1> -->
             <div class="col-12 content txtdetail" style="padding-top: 0">
                   <p [innerHtml]="Data.content | htmlHandle"></p>
             </div>
        </div>
  </div>