


<homeBnr [SourceData]="Banner"></homeBnr>

<!-- <div class="raw">
    <div class="col-12">
        <div class="tradeInq">
            <a routerLink="/trade">
               <img src="theme1/assets/img/tradeinquiry.png"/>
            </a>
        </div>
    </div>
</div> -->


<div class="col-12 maintitle">
   <h1>{{'home.calendar' | i18n}}</h1>
</div>
 <div class="col-12 main_event">
      <div class="col-4 event_left" *ngIf="!IsMobile" [style.backgroundImage]="'url('+ calendarBackground +')'">
         <div class="calendar">
            <!-- <img src="theme1/assets/img/calendar.jpg"> -->
            <div class="calendar_select">
                  <div class="pre" (click)="lessYear()"></div>
                  <div class="date">
                     <div class="pre" (click)="OnDataChange('-')"></div>
                     <div class="year">{{default.y}}/{{default.m}}</div>
                     <div class="next" (click)="OnDataChange('+')"></div>
                  </div>
                  <div class="next" (click)="addYear()"></div>
            </div>
            <div class="week">
              <span>Sun</span>
              <span>Mon</span>
              <span>Tue</span>
              <span>Wed</span>
              <span>Thu</span>
              <span>Fri</span>
              <span>Sat</span>
            </div>
            <div class="date_list">

            <ng-container *ngFor="let day of days;">
                <span *ngIf="day.text == ''" class="{{day.class}}">{{day.text}}</span>
                <span *ngIf="day.text != ''" class="{{day.class}}" (click)="ChangeDate(day)">{{day.text}}</span>
            </ng-container>
            </div>
         </div>
      </div>

      <div class="col-8 event_right">
         <div class="main_event_list">
            <div class="scroll">
                <div id="scrollarea">
                    <ng-container *ngFor="let evt of EvtFilter;">
                        <label *ngIf="evt.start == evt.end">
                            <i (click)="AddCalendar(evt)"></i>
                            {{evt.start}}
                            <span *ngIf="evt.islocal">Local</span>
                            <span *ngIf="!evt.islocal">Global</span>
                        </label>
                        <label *ngIf="evt.start != evt.end">
                            <i (click)="AddCalendar(evt)"></i>
                            {{evt.start}} ~ {{evt.end}} 
                            <span *ngIf="evt.islocal">Local</span>
                            <span *ngIf="!evt.islocal">Global</span>
                        </label>
                        <a href="{{evt.url}}" urlHref>
                            <span>{{evt.name}}</span>
                        </a>
                    </ng-container>
                  <p *ngIf="EvtFilter.length == 0">{{ 'form.noData' | i18n }}</p>
                </div>
            </div>
            <ng-container *ngIf="EvtFilter.length != 0">
                <a routerLink="/event/list" class="basebtn back linerbg">{{'head.more' | i18n}}</a>
            </ng-container>
         </div>
      </div>
 </div>


 <div class="col-12 maintitle">
    <h1>{{'home.announce' | i18n}}</h1>
 </div>
 <div class="ans_bg">
    <annouceBnr [SourceData]="customAnnouce" [ClassName]="'announce1'"></annouceBnr>
    <annouceBnr [SourceData]="autoAnnouce" [ClassName]="'announce2'"></annouceBnr>
    <div class="raw" *ngIf="isAns">
        <div class="basebtn back linerbg" routerLink="/event/list">{{'head.more' | i18n}}</div>
    </div>
 </div>

 <!-- <annouceBnr2></annouceBnr2> -->



 <div class="col-12 maintitle" *ngIf="video && !IsMobile">
    <h1>{{'home.video' | i18n}}</h1>
 </div>
 <div class="raw" *ngIf="video">
     <div class="col-12 main_event video">
        <div class="col-6 video_view">
                   <iframe width="560" height="315" [src]="video.url" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                   </iframe>
        </div>   
        <div class="col-6 video_txt">
                <h1>{{video.name}}</h1>
                <p [innerHtml]="video.content | htmlHandle"></p>
        </div>  
     </div>
 </div>


 <div class="col-12 maintitle" *ngIf="RelateShow && !IsMobile">
    <h1>{{'home.related' | i18n}}</h1>
 </div>


 <div class="raw" *ngIf="!IsMobile">
        <div class="col-12 main_event related">
         
        <relatedBnr class="col-4" [ClassName]="'related1'" [SourceData]="adBanner_1"></relatedBnr>
       
        <relatedBnr class="col-4" [ClassName]="'related2'" [SourceData]="adBanner_2"></relatedBnr>

        <relatedBnr class="col-4" [ClassName]="'related3'" [SourceData]="adBanner_3"></relatedBnr>
    </div>
</div>


<div id="fixed_ad" *ngIf="showInquiry">
    <a href="/trade" urlHref>
      <img src="theme1/assets/img/tradeinquiry.png">
   </a>
</div>