<div class="raw">
    <div class="mainImg" style="background-image: url('theme2/assets/img/ContactUs.jpg')">
        <h1 class="col-12">{{'menu.aboutus' | i18n}}</h1>
    </div>
</div>
<div class="raw pageBg">
    <div class="col-12 main">
         <div class="topMemu col-12">
            <a class="active">{{'menu.aboutus' | i18n}}</a>
            <a routerLink="/contactUs">{{'head.contackus' | i18n}}</a>
         </div>
         <div class="col-12 content">

              <div class="info" style="padding: 0.5rem;" *ngIf="Manager">
                {{'contact.manager' | i18n}}  : {{Manager.name}}<br/>
                {{'contact.phone' | i18n}} : {{Manager.phone}}<br/>
                {{'contact.fax' | i18n}} : {{Manager.fax}}<br/>
                {{'contact.email' | i18n}} : {{Manager.mail}}<br/>
                {{'contact.addr' | i18n}} : {{Manager.addr}}
              </div>
              <ng-container *ngIf="cmap">
                <gmap [position]="cmap"></gmap>
              </ng-container>
              <table class="aboutus rwd-table" *ngIf="Contacts && Contacts.length > 0">
              　
                    <tr>
                       <th>{{'contact.name' | i18n}}</th>
                       <th>{{'contact.title' | i18n}}</th>
                       <th>{{'contact.ext' | i18n}}</th>
                       <th>{{'contact.mobile' | i18n}}</th>
                       <th>{{'contact.email' | i18n}}</th>
                    </tr>
                    <tbody>
                        <!-- <tr *ngFor="let con of Contacts">
                            <td data-th="{{'contact.name' | i18n}}">{{con.name}}</td>
                            <td data-th="{{'contact.title' | i18n}}">{{con.name}}</td>
                            <td data-th="{{'contact.extension' | i18n}}">{{con.name}}</td>　
                            <td data-th="{{'contact.mobile' | i18n}}">{{con.name}}</td>　
                            <td data-th="{{'contact.mail' | i18n}}">{{con.name}}</td>　
                            </tr> -->

                           <tr *ngFor="let con of Contacts">
                                <td [attr.data-th]="('contact.name' | i18n)">{{con.name}}</td>
                                <td [attr.data-th]="('contact.title' | i18n)">{{con.title}}</td>
                                <td [attr.data-th]="('contact.ext' | i18n)">{{con.extension}}</td>　
                                <td [attr.data-th]="('contact.mobile' | i18n)">{{con.mobile}}</td>　
                                <td [attr.data-th]="('contact.email' | i18n)">{{con.mail}}</td>　
                            </tr>
                    </tbody>
                    
                    
                    
                    <!-- <tr>
                       <td data-th="Name"></td>
                       <td data-th="Title"></td>
                       <td data-th="Ext">17</td>　
                       <td data-th="Mobile"></td>　
                       <td data-th="Email">ice1203@taitra.org.tw</td>　
                    </tr> -->
              </table>
            
         </div>
    </div>
</div>