<div class="raw">
    <div class="mainImg" style="background-image: url('theme2/assets/img/ContactUs.jpg')">
        <h1 class="col-12">{{'menu.aboutTaiwantrade' | i18n}}</h1>
    </div>
</div>
<div class="raw pageBg">
    <div class="col-12 main">
    

         <div class="col-12 content txtdetail">
            <h1 *ngIf="Data && Data.title">{{Data.title}}</h1>
            <p *ngIf="Data && Data.content" [innerHtml]="Data.content | htmlHandle"></p>
         </div>
    </div>
</div>