<div class="raw">
    <div class="mainImg" style="background-image: url('theme2/assets/img/SiteMap.jpg')">
        <h1 class="col-12">Our Service</h1>
    </div>
</div>
<div class="raw pageBg">
    <div class="col-12 main">
    
         <div class="col-12 content txtdetail">
            <p *ngIf="Data" [innerHtml]="Data.content | htmlHandle"></p>
         </div>

    </div>
</div>