<div class="raw">
    <div class="mainImg" style="background-image: url('theme2/assets/img/SiteMap.jpg')">
        <h1 class="col-12">{{'sitemap' | i18n}}</h1>
    </div>
</div>

<div class="raw pageBg">
    <div class="col-12 main sitemap">
    
         <ng-container *ngFor="let item of menuData">
            <div class="col-4">
              <a href="{{item.link}}" urlHref><h1>{{item.name}}</h1></a>
              <ng-container *ngFor="let _sub of item.sub">
                    <a href="{{_sub.link}}" urlHref>{{_sub.name}}</a>
              </ng-container>
           </div>
         </ng-container>
         
         <!-- <div class="col-4">
              <a href=""><h1>News</h1></a>
              <a href="">General News</a>
         </div> -->
        
    </div>
</div>