<div class="raw">
    <div class="mainImg" style="background-image: url('theme2/assets/img/ContactUs.jpg')">
        <h1 class="col-12">{{'menu.contactus' | i18n}}</h1>
    </div>
</div>
<div class="raw pageBg">

    <div class="col-12 main">
    
         <div class="topMemu col-12">
            <a routerLink="/aboutUs">{{'menu.aboutus' | i18n}}</a>
            <a class="active">{{'menu.contactus' | i18n}}</a>
         </div>
         
         <div class="col-12 content" *ngIf="ContryItem">
               <form class="base" id="mainForm" [ngStyle]="{'display':(!isend) ? 'block' : 'none'}">
                 <div class="fieldset" style="padding-top: 0">

                    <div class="col-6">
                          <div class="form_gorup">
                                <label><span class="require">*</span>{{'form.name' | i18n}} :</label>
                                <div class="form_input">
                                      <input type="text" class="form-control" name="name" maxlength="50" [attr.data-error]="'form.nameRqr'" required/>
                                </div>
                          </div>
                    </div>
                    <div class="col-6">
                          <div class="form_gorup">
                                <label><span class="require">*</span>{{'form.contry' | i18n}} :</label>
                                <div class="form_input">
                                      <div class="select-container">
                                          <select class="form-control" name="country" [attr.data-error]="'form.countrySelect'" required>
                                                <option [value]="''">{{'form.select' | i18n}}</option>
                                                <option *ngFor="let item of ContryItem" [value]="item.code">{{item.name}}</option>
                                          </select>
                                     </div>
                                </div>
                          </div>
                    </div>

                    <div class="col-6">
                          <div class="form_gorup">
                                <label>{{'form.cname' | i18n}} :</label>
                                <div class="form_input">
                                      <input type="text" class="form-control" name="company" maxlength="100"/>
                                </div>
                          </div>
                    </div>

                    <div class="col-6">
                          <div class="form_gorup">
                                <label><span class="require">*</span>{{'form.email' | i18n}} :</label>
                                <div class="form_input">
                                      <input type="text" class="form-control" name="mail" maxlength="100" [attr.data-error]="'form.mailRqr'" required/>
                                </div>
                          </div>
                    </div>

                    <div class="col-6">
                          <div class="form_gorup">
                                <label>{{'form.tel' | i18n}} :</label>
                                <div class="form_input">
                                      <input type="text" class="form-control" name="phone" maxlength="20"/>
                                </div>
                          </div>
                    </div>

                    <div class="col-6">
                          <div class="form_gorup">
                                <label>{{'form.bno' | i18n}}（{{'form.only' | i18n}}) :</label>
                                <div class="form_input">
                                      <input type="text" class="form-control" name="taxID" maxlength="8"/>
                                </div>
                          </div>
                    </div>

                    <div class="col-12">
                          <div class="form_gorup">
                                <label><span class="require">*</span>{{'form.subject' | i18n}} :</label>
                                <div class="form_input">
                                      <input type="text" class="form-control" name="subject" maxlength="80" [attr.data-error]="'form.subjectRqr'" required/>
                                </div>
                          </div>
                    </div>

                    <div class="col-12">
                          <div class="form_gorup">
                                <label><span class="require">*</span>{{'form.commet' | i18n}} :</label>
                                <div class="form_input">
                                      <textarea class="comment" name="content" maxlength="300" [attr.data-error]="'form.otherRqr'" required></textarea>
                                </div>
                          </div>
                    </div>

                    <div class="col-6">
                          <div class="form_gorup">
                                <label><span class="require">*</span>{{'form.vscode' | i18n}} :</label>
                                <div class="form_input">
                                     <input type="text" class="form-control" name="checkCodeNo" maxlength="5" [attr.data-error]="'form.checkRqr'" required/>
                                </div>
                                <img (click)="refresh()" id="CKImg" class="ckcode" [src]="CheckImg"/>
                                
                          </div>
                    </div>

                    <div class="col-12" style="justify-content: center;">
                          <button class="basebtn linerbg submit" (click)="formsend()">{{'form.submit' | i18n}}</button>
                          <div class="basebtn linerbg reset" (click)="Reset()">{{'form.reset' | i18n}}</div>
                    </div>
                    
                 </div>
               </form>
               <div class="loading" [ngStyle]="{'display':(isend) ? 'block' : 'none'}">
                        <span>{{ 'form.inProcess' | i18n}}</span>
                        <img src="theme2/assets/img/loading.gif"/>
               </div>
         </div>
         
         
    </div>
</div>