<div class="raw">
    <div class="mainImg" style="background-image: url('theme1/assets/img/ContactUs.jpg')">
        <h1 class="col-12" *ngIf="Data">{{Data.name}}</h1>
    </div>
</div>
<div class="raw pageBg">

    <div class="col-12 main">
    
         <div class="leftside col-3" *ngIf="Data">
                     <label>{{'event.date' | i18n}} : </label>
                     <span>{{Data.start}}~ {{Data.end}}</span>
                     <label>{{'event.addr' | i18n}} : </label>
                     <span>{{Data.addr}}</span>
                     <label>{{'event.type' | i18n}} : </label>
                     <span>{{Data.type}}</span>
                     <ng-container *ngIf="Data.fee != ''">
                        <label>{{'event.fee' | i18n}}</label>
                        <span>{{Data.fee}}</span>
                     </ng-container>
                     <ng-container *ngIf="Data.isRegist">
                        <div class="basebtn">{{'event.signup' | i18n}}</div>
                     </ng-container>
                     <ng-container *ngIf="Data.url != ''">
                        <a class="basebtn" href="{{Data.url}}" urlHref>{{'event.url' | i18n}}</a>
                     </ng-container>
            
         </div>
         
         <div class="col-9 content" *ngIf="FormObj">

               <form class="base" id="mainForm" [ngStyle]="{'display':(!isend) ? 'block' : 'none'}">
                 <div class="fieldset" style="padding-top: 0">

                  <ng-container *ngFor="let fitem of FormObj">
                        
                        <ng-container *ngIf="
                        fitem.type != 'JOIN_MEMBER' &&
                        fitem.type != 'BUYjoinUCT' &&
                        fitem.type != 'LINE_BUSINESS' &&
                        fitem.type != 'NOTE' &&
                        fitem.type != 'COUNTRY'
                        ">
                         <div class="col-8">
                                    <div class="form_gorup">
                                          <label><span class="require" *ngIf="fitem.required == 'true'">*</span>{{fitem.value}} :</label>
                                          <div class="form_input">
                                                <ng-container *ngIf="fitem.options.length == 0">
                                                <input type="text" class="form-control" name="i{{fitem.id}}" autocomplete="off" [attr.data-error]="fitem.emptyMessage" [attr.required]="fitem.required == 'true' ? 'required' : ''"/>
                                                </ng-container>
                                                <ng-container *ngIf="fitem.options.length > 0">
                                                      <ng-container *ngFor="let opt of fitem.options;let i = index">
                                                            <span>
                                                                  <input type="radio" name="{{'i' + fitem.id}}" id="{{fitem.type + i}}" value="{{opt.value}}" 
                                                                  [attr.data-error]="fitem.emptyMessage" 
                                                                  [attr.required]="fitem.required == 'true' ? 'required' : ''"/>
                                                                  <label for="{{fitem.type + i}}">{{opt.text}}</label>
                                                            </span>
                                                      </ng-container>
                                                </ng-container>
                                          </div>
                                    </div>
                         </div>
                        </ng-container>
                        <ng-container *ngIf="fitem.type == 'BUYjoinUCT' || fitem.type == 'LINE_BUSINESS' || fitem.type == 'NOTE'">
                              <div class="col-8">
                                    <div class="form_gorup">
                                          <label><span class="require" *ngIf="fitem.required == 'true'">*</span>{{fitem.value}} :</label>
                                          <div class="form_input">
                                                <textarea class="comment" name="i{{fitem.id}}" maxlength="300" 
                                                [attr.data-error]="fitem.emptyMessage" 
                                                [attr.required]="fitem.required == 'true' ? 'required' : ''"
                                                ></textarea>
                                          </div>
                                    </div>
                         
                              </div>
                        </ng-container>
                        <ng-container *ngIf="fitem.type == 'JOIN_MEMBER'">
                              <div style="clear: both;width: 100%;"></div>
                              <h1 style="margin-bottom: 1rem;">
                                    <span class="require" *ngIf="fitem.required == 'true'">*</span>
                                    {{fitem.value}} :
                              </h1>
                              <div style="clear: both;width: 100%;"></div>
                              <div style="width: 100%;">
                                    <table class="rwd-table formtable">
                                          <tr>
                                                <th style="width: 1rem;">No.</th>
                                                <th style="width:20%;">{{'eventform.gender' | i18n}}</th>
                                                <th style="width:20%;">{{'eventform.fn' | i18n}}</th>
                                                <th style="width:20%;">{{'eventform.ln' | i18n}}</th>
                                                <th style="width:20%;">{{'contact.title' | i18n}}</th>
                                                <th style="width:20%;">{{'conf.mail' | i18n}}</th>
                                          </tr>
                                          <ng-container *ngFor="let _j of Joins">
                                                <tr>
                                                      <td data-th="No">{{_j}}</td>
                                                      <td [attr.data-th]="('eventform.gender' | i18n)">
                                                            <div class="col-full">
                                                                  <div class="select-container">
                                                                        <select class="form-control" name="join[{{_j}}].gender" [attr.data-error]="fitem.emptyMessage" [attr.required]="fitem.required == 'true' ? 'required' : ''">
                                                                              <option [value]="''">{{'form.select' | i18n}}</option>
                                                                              <option *ngFor="let gend of fitem.options" value="{{gend.value}}">{{gend.text}}</option>
                                                                        </select>
                                                                  </div>
                                                            </div>
                                                      </td>
                                                      <td [attr.data-th]="('eventform.fn' | i18n)">
                                                            <div class="col-full">
                                                               <input type="text" class="form-control" name="join[{{_j}}].ln"/>
                                                            </div>
                                                      </td>
                                                      <td [attr.data-th]="('eventform.ln' | i18n)">
                                                            <div class="col-full">
                                                                  <input type="text" class="form-control" name="join[{{_j}}].fn"/>
                                                            </div>
                                                      </td>
                                                      <td [attr.data-th]="('contact.title' | i18n)">
                                                            <div class="col-full">
                                                                <input type="text" class="form-control" name="join[{{_j}}].jobTitle"/>
                                                            </div>
                                                      </td>
                                                      <td [attr.data-th]="('conf.mail' | i18n)">
                                                            <div class="col-full">
                                                                <input type="text" class="form-control" name="join[{{_j}}].email"/>
                                                            </div>
                                                      </td>
                                                </tr>
                                          </ng-container>
                                    </table>
                              </div>
                        </ng-container>
                        <ng-container *ngIf="fitem.type == 'COUNTRY'">
                              <div class="col-8" *ngIf="ContryItem">
                                    <div class="form_gorup">
                                          <label><span class="require" *ngIf="fitem.required == 'true'">*</span>{{fitem.value}} :</label>
                                          <div class="form_input">
                                                <div class="select-container">
                                                      <select class="form-control" name="i{{fitem.id}}" [attr.data-error]="fitem.emptyMessage" [attr.required]="fitem.required == 'true' ? 'required' : ''">
                                                            <option [value]="''">{{'form.select' | i18n}}</option>
                                                            <option *ngFor="let item of ContryItem" [value]="item.code">{{item.name}}</option>
                                                      </select>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </ng-container>
                        
                  </ng-container>
                    
                    
                    <ng-container *ngIf="FormObj">
                        <div class="col-6">
                              <div class="form_gorup">
                                    <label><span class="require">*</span>{{'form.vscode' | i18n}} :</label>
                                    <div class="form_input">
                                          <input type="text" class="form-control" name="checkCodeNo" maxlength="5" [attr.data-error]="'form.checkRqr'" required/>
                                    </div>
                                    <img (click)="refresh()" id="CKImg" class="ckcode" [src]="CheckImg"/>
                                    
                              </div>
                        </div>
                    </ng-container>
                    

                    <div class="col-12" style="justify-content: center;">
                          <button class="basebtn linerbg submit" (click)="formsend()">{{'form.submit' | i18n}}</button>
                          <div class="basebtn linerbg reset" (click)="Reset()">{{'form.reset' | i18n}}</div>
                    </div>
                    
                 </div>
               </form>

               <ng-container *ngIf="isend">
                        <ng-container *ngFor="let fitem of FormObj">
                              <ng-container *ngIf="fitem.type == 'JOIN_MEMBER'">
                              <div style="clear: both;width: 100%;"></div>
                              <h1 style="margin-bottom: 1rem;">
                                    <span class="require" *ngIf="fitem.required == 'true'">*</span>
                                    {{fitem.value}} :
                              </h1>
                              <div style="clear: both;width: 100%;"></div>
                              <div style="width: 100%;">
                                    <table class="rwd-table formtable anstable">
                                          <tr>
                                                <th style="width: 1rem;">No.</th>
                                                <th style="width:20%;">{{'eventform.gender' | i18n}}</th>
                                                <th style="width:20%;">{{'eventform.fn' | i18n}}</th>
                                                <th style="width:20%;">{{'eventform.ln' | i18n}}</th>
                                                <th style="width:20%;">{{'contact.title' | i18n}}</th>
                                                <th style="width:20%;">{{'conf.mail' | i18n}}</th>
                                          </tr>
                                          <ng-container *ngFor="let _m of postData['i55'];let _i = index">
                                                <tr>
                                                      <td data-th="No">{{_i+1}}</td>
                                                      <td [attr.data-th]="('eventform.gender' | i18n)">
                                                            <div class="col-full" [innerHtml]="GetDisPlay('i55',_m.gender) | htmlHandle"></div>
                                                      </td>
                                                      <td [attr.data-th]="('eventform.fn' | i18n)">
                                                            <div class="col-full">{{_m.ln}}</div>
                                                      </td>
                                                      <td [attr.data-th]="('eventform.ln' | i18n)">
                                                            <div class="col-full">{{_m.fn}}</div>
                                                      </td>
                                                      <td [attr.data-th]="('contact.title' | i18n)">
                                                            <div class="col-full">{{_m.jobTitle}}</div>
                                                      </td>
                                                      <td [attr.data-th]="('conf.mail' | i18n)">
                                                            <div class="col-full">{{_m.email}}</div>
                                                      </td>
                                                </tr>
                                          </ng-container>
                                    </table>
                              </div>
                        </ng-container>
                                <ng-container *ngIf="fitem.type != 'JOIN_MEMBER'">
                                    <div class="col-8" [ngStyle]="{'display':(isend) ? 'block' : 'none'}">
                                          <div class="form_gorup">
                                                <label><span class="require" *ngIf="fitem.required == 'true'">*</span>{{fitem.value}} :</label>
                                                <div class="form_input" [innerHtml]="GetDisPlay('i' + fitem.id) | htmlHandle">
                                                      
                                                </div>
                                          </div>
                                    </div>
                                </ng-container>
                        </ng-container>
                        <div class="fieldset">
                             <div class="col-12" style="justify-content: center;">
                                   <div class="basebtn linerbg submit" (click)="Formpost()">{{'form.submit' | i18n}}</div>
                                   <div class="basebtn linerbg reset" (click)="Back()">{{'btn.previous' | i18n}}</div>
                             </div>
                       </div>
               </ng-container>
         </div>

         
         
         
         
    </div>
</div>