<div class="raw">
    <div class="mainImg">
        <h1 class="col-12">{{'home.announce' | i18n}}</h1>
    </div>
</div>
<div class="raw pageBg">
    <div class="col-12 main">
         <div class="col-12 content">

              <div class="tradeshow">
                    <ng-container *ngFor="let item of Data">
                        <div class="col-full showItem">
                            <div class="col-3">
                               <img src="{{item.img}}"/>
                            </div>
                            <div class="col-9 info">
                               <label><a href="{{item.url}}" target="_blank">{{item.name}}</a></label>
                               <label><span>{{item.start}} ~ {{item.end}}</span></label>
                               <p>
                                {{item.content}}
                               </p>
                            </div>
                         </div>
                    </ng-container>
              </div>
              <div class="noData" *ngIf="Data.length == 0">{{ 'form.noData' | i18n }}</div>
            
         </div>
    </div>
</div>