<div class="raw">
      <div class="mainImg">
          <h1 class="col-12">會議室預約</h1>
      </div>
  </div>
  <div class="raw pageBg">
         <div class="col-12 main">
               
            <!-- detail -->
            <div class="col-9 content txtdetail confBlock">
                  <div class="conf">
                        <label>{{'conf.sign' | i18n}}</label>
                  </div>
                  <div class="divice_line"></div>
                   <div class="fieldset">

                        <ul class="step">
                              <li class="{{(stepNo > 0) ? 'active' : ''}}">
                                    <label>{{'conf.step1' | i18n}}</label>
                                    <span>1</span>
                              </li>
                              <li class="{{(stepNo > 1) ? 'active' : ''}}">
                                    <label>{{'conf.step2' | i18n}}</label>
                                    <span>2</span>
                              </li>
                              <li class="{{(stepNo > 2) ? 'active' : ''}}">
                                    <label>{{'conf.step3' | i18n}}</label>
                                    <span>3</span>
                              </li>
                              <li class="{{(stepNo > 3) ? 'active' : ''}}">
                                    <label>{{'conf.step4' | i18n}}</label>
                                    <span>4</span>
                              </li>
                        </ul>
                  </div>

                  <!-- detail -->
                  <div *ngIf="(stepNo == 1) && conf" class="col-full confDetail">
                            
                              <p>選擇會議室後點啟連結，在接下來的表單上填入資料</p>
                              
                              <h2>{{conf.name}}</h2>

                              <img *ngIf="conf.img" class="confimg" [src]="conf.img"/>
                              <div class="info">
                                 <label>面積 (平方公尺/坪): <span>{{conf.standard}}</span></label>
                                 <p [innerHtml]="Data.content | htmlHandle"></p>
                              </div>

                              <div class="info">
                                 <label>會議設備</label>
                                 <div [innerHtml]="Data.equipment | htmlHandle"></div>
                              </div>

                              <div class="info">
                                 <label>租價: </label>
                                 <p [innerHtml]="Data.rental | htmlHandle"></p>
                              </div>

                              <div (click)="addStep()" class="basebtn back">
                                  預約申請單
                             </div>
                  </div>

                  <!-- form -->
                  <div class="fieldset" [ngStyle]="{'display':(stepNo == 2) ? 'block' : 'none'}">
                     <form class="base conf_form" *ngIf="true" id="mainForm">
                        <div class="col-full forminfo" style="margin-bottom: 0">
                              <span>{{'conf.intro' | i18n}}</span><br/>
                        </div>

                        <div class="form_gorup" *ngIf="confList">
                              <label><span class="require">*</span>{{'conf.step1' | i18n}} :</label>
                              <div class="form_input">
                                    <div class="select-container">
                                          <select class="form-control" name="id" (change)="confChange()" [attr.data-error]="'conf.SelectRqr'" required>
                                                <option value="">{{'conf.step1' | i18n}}</option>
                                                <ng-container *ngFor="let conf of confList;">
                                                      <option value="{{conf.id}}" [selected]="(conf.id == confid)">{{conf.name}}</option>
                                                </ng-container>
                                          </select>
                                    </div>
                              </div>
                        </div>

                        <div class="col-12" *ngIf="device && device.length > 0">
                              <div class="form_gorup">
                                    <label>{{'conf.device' | i18n}} :</label>
                                    <div class="form_input">
                                          <ng-container *ngFor="let item of device; let _index = index">
                                                <span>
                                                      <input type="checkbox" id="checkbox{{_index}}" name="device" value="{{item['code']}}"/>
                                                      <label for="checkbox{{_index}}" >{{item['name']}}</label>
                                                </span>
                                          </ng-container>
                                    </div>
                              </div>
                        </div>

                        <div class="col-6">
                              <div class="form_gorup">
                                    <label><span class="require">*</span>{{'conf.name' | i18n}} :</label>
                                    <div class="form_input">
                                          <input type="text" class="form-control" name="name" maxlength="30" [attr.data-error]="'form.nameRqr'" required/>
                                    </div>
                              </div>
                        </div>

                        <div class="col-6">
                              <div class="form_gorup">
                                    <label><span class="require">*</span>{{'conf.idno' | i18n}} :</label>
                                    <div class="form_input">
                                          <input type="text" class="form-control" name="taxID" maxlength="8" [attr.data-error]="'conf.idnoRqr'" required/>
                                    </div>
                              </div>
                        </div>

                        <div class="col-12">
                              <div class="form_gorup">
                                    <label><span class="require">*</span>{{'conf.unit' | i18n}} :</label>
                                    <div class="form_input">
                                          <input type="text" class="form-control" name="company" maxlength="80" [attr.data-error]="'conf.unitRqr'" required/>
                                    </div>
                              </div>
                        </div>
                                    
                        <div class="col-6">
                              <div class="form_gorup">
                                    <label><span class="require">*</span>{{'conf.cdate' | i18n}} :</label>
                                    <div class="form_input">
                                                <select class="form-control inline" name="date1" (change)="ychange()" [attr.data-error]="'conf.ckdateRqr'" required>
                                                      <option [value]="''">{{'form.select' | i18n}}</option>
                                                      <ng-container *ngFor="let y of ySelect;">
                                                            <option value="{{y}}">{{y}}</option>
                                                      </ng-container>
                                                </select>
                                                <span class="tag">/</span>
                                                <select class="form-control inline" name="date2" (change)="mchange()" [attr.data-error]="'conf.ckdateRqr'" required>
                                                      <option [value]="''">{{'form.select' | i18n}}</option>
                                                      <ng-container *ngFor="let s of mSelect;">
                                                            <option value="{{s}}">{{s}}</option>
                                                      </ng-container>
                                                </select>
                                                <span class="tag">/</span>
                                                <select class="form-control" name="date3" (change)="dchange()" [attr.data-error]="'conf.ckdateRqr'" required>
                                                      <option [value]="''">{{'form.select' | i18n}}</option>
                                                      <ng-container *ngFor="let d of dSelect;">
                                                            <option value="{{d}}">{{d}}</option>
                                                      </ng-container>
                                                </select>
                                    </div>
                              </div>
                        </div>

                        <div class="col-6">
                              <div class="form_gorup">
                              <label><span class="require">*</span>{{'conf.period' | i18n}} :</label>
                              <div class="form_input">
                                    <select class="form-control inline" name="since"  (change)="sincechange()" [attr.data-error]="'conf.ckdateRqr'" required>
                                          <option [value]="''">{{'form.select' | i18n}}</option>
                                          <ng-container *ngFor="let s of timeStart;">
                                                <option [value]="s">{{s}}</option>
                                          </ng-container>
                                    </select>
                                    <span class="tag">-</span>
                                     <select class="form-control" name="endHr" [attr.data-error]="'conf.ckdateRqr'" required>
                                          <option [value]="''">{{'form.select' | i18n}}</option>
                                          <ng-container *ngFor="let e of timeEnd;">
                                                <option [value]="e">{{e}}</option>
                                          </ng-container>
                                    </select>
                              </div>
                              </div>
                        </div>

                        <div class="col-6">
                              <div class="form_gorup">
                                    <label><span class="require">*</span>{{'conf.contact' | i18n}} :</label>
                                    <div class="form_input">
                                          <input type="text" class="form-control" name="contact" maxlength="30" [attr.data-error]="'conf.contactRqr'" required/>
                                    </div>
                              </div>
                        </div>

                        <div class="col-6">
                              <div class="form_gorup">
                                    <label><span class="require">*</span>{{'conf.title' | i18n}} :</label>
                                    <div class="form_input">
                                          <input type="text" class="form-control" name="title" maxlength="30" [attr.data-error]="'conf.titleRqr'" required/>
                                    </div>
                              </div>
                        </div>

                        <div class="col-6">
                              <div class="form_gorup">
                                    <label>{{'conf.addr' | i18n}} :</label>
                                    <div class="form_input">
                                          <input type="text" class="form-control" name="addr" [attr.data-error]="'form.addrRqr'" maxlength="150"/>
                                    </div>
                              </div>
                        </div>

                        <div class="col-6" *ngIf="ContryItem">
                              <div class="form_gorup">
                                    <label>{{'conf.country' | i18n}} :</label>
                                    <div class="form_input">
                                          <select class="form-control" name="country">
                                                <option [value]="''">{{'form.select' | i18n}}</option>
                                                <option *ngFor="let item of ContryItem" [value]="item.code">{{item.name}}</option>
                                          </select>
                                    </div>
                              </div>
                        </div>

                        <div class="col-6">
                              <div class="form_gorup">
                                    <label><span class="require">*</span>{{'conf.phone' | i18n}} :</label>
                                    <div class="form_input">
                                          <input type="text" class="form-control" name="phone" maxlength="26" [attr.data-error]="'conf.phoneRqr'" required/>
                                    </div>
                              </div>
                        </div>

                        <div class="col-6">
                              <div class="form_gorup">
                                    <label><span class="require">*</span>{{'conf.fax' | i18n}} :</label>
                                    <div class="form_input">
                                          <input type="text" class="form-control" name="fax" maxlength="26" [attr.data-error]="'conf.faxRqr'" required/>
                                    </div>
                              </div>
                        </div>

                        <div class="col-6">
                              <div class="form_gorup">
                                    <label><span class="require">*</span>{{'conf.mail' | i18n}} :</label>
                                    <div class="form_input">
                                          <input type="mail" class="form-control" name="mail" maxlength="100" [attr.data-error]="'conf.mailRqr'" required/>
                                    </div>
                              </div>
                        </div>
                        
                        <div class="col-6">
                              <div class="form_gorup">
                                    <label>{{'conf.web' | i18n}} :</label>
                                    <div class="form_input">
                                          <input type="text" class="form-control" name="web" maxlength="80"/>
                                    </div>
                              </div>
                        </div>

                        <div class="col-6">
                              <div class="form_gorup">
                                    <label><span class="require">*</span>{{'conf.actname' | i18n}} :</label>
                                    <div class="form_input">
                                          <input type="text" class="form-control" name="subject" maxlength="80" [attr.data-error]="'conf.actRqr'" required/>
                                    </div>
                              </div>
                        </div>

                        <div class="col-6">
                              <div class="form_gorup">
                                    <label><span class="require">*</span>{{'conf.count' | i18n}} :</label>
                                    <div class="form_input">
                                          <input type="number" class="form-control" name="scope" maxlength="5" [attr.data-error]="'conf.countRqr'" required/>
                                    </div>
                              </div>
                        </div>

                        <div class="col-12" *ngIf="contactType">
                              <div class="form_gorup">
                                    <label><span class="require">*</span>{{'conf.contactType' | i18n}} :</label>
                                    <div class="form_input">
                                          
                                          <ng-container *ngFor="let ct of contactType;let c_index = index">
                                                <span>
                                                      <input value="{{ct.code}}" type="radio" name="contactType" id="rd{{c_index}}" [checked]="c_index == 0"/>
                                                      <label for="rd{{c_index}}" >{{ct.name}}</label>
                                                </span>
                                          </ng-container>
                                    </div>
                              </div>
                        </div>

                        <div class="col-12">
                            <div class="form_gorup">
                                    <label>{{'conf.note' | i18n}} :</label>
                                    <textarea class="comment" name="note" style="width: 98%;" maxlength="200"></textarea>
                            </div>
                              
                        </div>

                        <div class="col-6">
                              <div class="form_gorup">
                                    <label><span class="require">*</span>{{'form.vscode' | i18n}} :</label>
                                    <div class="form_input">
                                          <input type="text" class="form-control" name="checkCodeNo" [attr.data-error]="'form.checkRqr'" required/>
                                    </div>
                                    <img class="ckcode" (click)="refresh()" [src]="CheckImg"/>
                                    
                              </div>
                        </div>
                              
                        <div class="fieldset">
                          <div class="col-12" style="justify-content: center;">
                              <div class="basebtn submit" (click)="lessStep()">{{'back' | i18n}}</div>
                              <div class="basebtn submit" (click)="subform()">{{'form.submit' | i18n}}</div>
                              <div class="basebtn reset" (click)="Reset()">{{'form.reset' | i18n}}</div>
                          </div>
                        </div>
                     </form>
                  </div>
                  
                  <!-- check -->
                  <div class="fieldset" *ngIf="(stepNo == 3)">
                        
                        <div class="col-full forminfo" style="margin-bottom: 0">
                              <span>{{'form.notice' | i18n}}</span><br/>
                        </div>

                        <div class="form_gorup">
                              <label><span class="require">*</span>{{'conf.step1' | i18n}} :</label>
                              <span>{{CofName(result.id)}}</span>
                        </div>

                        <div class="col-12">
                              <div class="form_gorup">
                                    <label>{{'conf.device' | i18n}} :</label>
                                    <span>{{DeviceName(result.device)}}</span>
                              </div>
                        </div>

                        <div class="col-6">
                              <div class="form_gorup">
                                    <label><span class="require">*</span>{{'conf.name' | i18n}} :</label>
                                    <span>{{result.name}}</span>
                              </div>
                        </div>

                        <div class="col-6">
                              <div class="form_gorup">
                                    <label><span class="require">*</span>{{'conf.idno' | i18n}} :</label>
                                    <span>{{result.taxID}}</span>
                              </div>
                        </div>

                        <div class="col-12">
                              <div class="form_gorup">
                                    <label><span class="require">*</span>{{'conf.unit' | i18n}} :</label>
                                    <span>{{result.company}}</span>
                              </div>
                        </div>
                                    
                        <div class="col-6">
                              <div class="form_gorup">
                                    <label>{{'conf.cdate' | i18n}} :</label>
                                    <span>{{result.date1}}-{{result.date2}}-{{result.date3}}</span>
                              </div>
                        </div>

                        <div class="col-6">
                              <div class="form_gorup">
                                    <label>{{'conf.period' | i18n}} :</label>
                                    <span>{{result.since}} ~ {{(result.endHr)}}</span>
                              </div>
                        </div>

                        <div class="col-6">
                              <div class="form_gorup">
                                    <label><span class="require">*</span>{{'conf.contact' | i18n}} :</label>
                                    <span>{{result.contact}}</span>
                              </div>
                        </div>

                        <div class="col-6">
                              <div class="form_gorup">
                                    <label><span class="require">*</span>{{'conf.title' | i18n}} :</label>
                                    <span>{{result.title}}</span>
                              </div>
                        </div>

                        <div class="col-6">
                              <div class="form_gorup">
                                    <label>{{'conf.addr' | i18n}} :</label>
                                    <span>{{result.addr}}</span>
                              </div>
                        </div>

                        <div class="col-6">
                              <div class="form_gorup">
                                    <label><span class="require">*</span>{{'conf.country' | i18n}} :</label>
                                    <span>{{CName(result.country)}}</span>
                              </div>
                        </div>

                        <div class="col-6">
                              <div class="form_gorup">
                                    <label><span class="require">*</span>{{'conf.phone' | i18n}} :</label>
                                    <span>{{result.phone}}</span>
                              </div>
                        </div>

                        <div class="col-6">
                              <div class="form_gorup">
                                    <label><span class="require">*</span>{{'conf.fax' | i18n}} :</label>
                                    <span>{{result.fax}}</span>
                              </div>
                        </div>

                        <div class="col-6">
                              <div class="form_gorup">
                                    <label><span class="require">*</span>{{'conf.mail' | i18n}} :</label>
                                    <span>{{result.mail}}</span>
                              </div>
                        </div>
                        
                        <div class="col-6">
                              <div class="form_gorup">
                                    <label>{{'conf.web' | i18n}} :</label>
                                    <span>{{result.web}}</span>
                              </div>
                        </div>

                        <div class="col-6">
                              <div class="form_gorup">
                                    <label><span class="require">*</span>{{'conf.actname' | i18n}} :</label>
                                    <span>{{result.subject}}</span>
                              </div>
                        </div>

                        <div class="col-6">
                              <div class="form_gorup">
                                    <label><span class="require">*</span>{{'conf.count' | i18n}} :</label>
                                    <span>{{result.scope}}</span>
                              </div>
                        </div>

                        <div class="col-12">
                              <div class="form_gorup">
                                    <label><span class="require">*</span>{{'conf.contactType' | i18n}} :</label>
                                    <span>{{CtypeName(result.contactType)}}</span>
                              </div>
                        </div>

                        <div class="col-12">
                              <div class="form_gorup">
                                    <label>{{'conf.note' | i18n}} :</label>
                                    <span>{{result.note}}</span>
                              </div>
                              
                        </div>
                              
                        <div class="col-12" style="justify-content: center;">
                              <div class="basebtn submit"  (click)="lessStep()">{{'back' | i18n}}</div>
                              <div class="basebtn submit" (click)="formsend()">{{'form.submit' | i18n}}</div>
                        </div>
            
                  </div>
            </div>
            <div class="sideMenu col-3">
                  <a href="/conference/list" urlHref>{{'conf.list' | i18n}}</a>
                  <a class="active">{{'conf.sign' | i18n}}</a>
            </div>
        </div>
  </div>