<div class="raw">
    <div class="mainImg">
        <h1 class="col-12">會議室預約</h1>
    </div>
</div>
<div class="raw pageBg">
    <div class="col-12 main">

         

         <div class="col-9 content">
              <div class="conf">
                    <label>{{'conf.step1' | i18n}}</label>
              </div>
              <div class="divice_line"></div>
              <div class="tradeshow">
                    <ng-container *ngFor="let item of Data;let mindex = index;">
                        <div class="col-full confItem">
                            <div class="col-3">
                               <img *ngIf="item.img" [src]="item.img"/>
                            </div>
                            <div class="col-9 info">
                               <label><a href="/conference/detail?id={{item.id}}" urlHref>{{item.name}}</a></label>
                               <p [innerHtml]="item.content | htmlHandle"></p>
                            </div>
                         </div>
                    </ng-container>

              </div>
         </div>
          <div class="sideMenu col-3">
            <a href="/conference/list" urlHref>{{'conf.list' | i18n}}</a>
            <a class="active">{{'conf.sign' | i18n}}</a>
          </div>
    </div>
</div>