
.pop_mask{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;left: 0;
    background: rgba(0, 0, 0, 0.65);
    z-index: 1000;
    display: table;
}
.pop_block{
    display: inline-block;
    width: 90vw;
    background: #F6F6F6;
    border-radius: 5px;
    max-width: 450px;
}

.pop_mid{
    text-align: center;
    display: table-cell;
    vertical-align:middle;
}
.pop_block h3{
    font-weight: normal;
    margin: 0;
    height: 45px;
    line-height: 45px;
    background: #009999;
    color: #fff;
    border-radius: 5px 5px 0px 0px;
}
.pop_content{
    max-height: 70vh;
    padding:15px;
}
.pop_content input[type=text], .pop_content input[type=password]{
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    width: 100%;
    margin:10px 0;
    padding: 5px;
}
.btn_group{display: flex;}
.btn_group div{cursor: pointer;}
.btn_group div:hover{background-color: #EAEAEA;}
.btn_group div:nth-child(2){
    border-left:  1px solid #ddd;
}
.btn_group .check,.cancel{
    border-top:  1px solid #ddd;
    flex:1;
    line-height: 45px;height: 45px;
}