<div class="tool">
  <span class="sm {{(nowindx == 0) ? 'active' : ''}}" (click)="less(0)">A</span>
  <span class="md {{(nowindx == 1) ? 'active' : ''}}" (click)="normal(1)">A</span>
  <span class="lg {{(nowindx == 2) ? 'active' : ''}}" (click)="add(2)">A</span>
  <span class="print" (click)="print()">&nbsp;</span>
</div>