<div class="raw">
    <div class="mainImg" style="background-image: url('theme2/assets/img/trade.png')">
        <h1 class="col-12">{{'menu.inquiry' | i18n}}</h1>
    </div>
</div>
<div class="raw pageBg">
    <div class="col-12 main">
            
         <div class="col-12 content txtdetail" [ngStyle]="{'display':(!isend) ? 'block' : 'none'}">
               <form class="base" id="mainForm" >
                    <div class="col-full forminfo">
                          <img src="theme2/assets/img/form.png"/>
                          <span>{{'form.review' | i18n}}</span><br/>
                          <span class="require">*{{'form.require' | i18n}}</span><br/>
                    </div>
                    
                    <h1>*1. {{'form.info' | i18n}} <span class="note">{{'form.fill' | i18n}}</span></h1>
                    <div class="fieldset">
                          
                        <div class="col-6">
                              <div class="form_gorup">
                                    <label><span class="require">*</span>{{'form.offer' | i18n}} :</label>
                                    <div class="form_input">
                                       <span>
                                             <input type="radio" name="type" id="r1" [value]="27" [attr.data-error]="'form.buyerValid'" required/>
                                             <label for="r1">{{'form.buy' | i18n}}</label>
                                       </span>
                                       <span>
                                             <input type="radio" name="type" id="r2" [value]="28" [attr.data-error]="'form.buyerValid'" required/>
                                             <label for="r2">{{'form.sell' | i18n}}</label>
                                        </span>
                                    </div>
                              </div>
                        </div>
                          
                          <div class="col-6">
                                <div class="form_gorup">
                                      <label><span class="require">*</span>{{'form.cname' | i18n}} :</label>
                                      <div class="form_input">
                                            <input type="text" class="form-control" name="company" maxlength="25" [attr.data-error]="'form.companyRqr'" required/>
                                      </div>
                                </div>
                          </div>
                          <div class="col-6">
                                <div class="form_gorup">
                                      <label><span class="require">*</span>{{'form.name' | i18n}} :</label>
                                      <div class="form_input">
                                            <input type="text" class="form-control" name="firstname" maxlength="20" [attr.data-error]="'form.nameRqr'" required/>
                                            <input type="text" class="form-control" name="lastname" maxlength="25" [attr.data-error]="'form.nameRqr'" required/>
                                      </div>
                                </div>
                          </div>
                          <div class="col-6">
                           <div class="form_gorup">
                                <label>{{'form.title' | i18n}} :</label>
                                <div class="form_input">
                                      <input type="text" class="form-control" name="title" maxlength="30"/>
                                </div>
                           </div>
                          </div>
                          <div class="col-6">
                                <div class="form_gorup">
                                      <label><span class="require">*</span>{{'form.contry' | i18n}} :</label>
                                      <div class="form_input">
                                          <div class="select-container">
                                            <select class="form-control" name="country" [attr.data-error]="'form.countrySelect'" required>
                                                 <option [value]="''">{{'form.select' | i18n}}</option>
                                                 <option *ngFor="let item of ContryItem" [value]="item.code">{{item.name}}</option>
                                            </select>
                                          </div>
                                      </div>
                                      
                                </div>
                          </div>
                          <div class="col-6">
                                <div class="form_gorup">
                                      <label><span class="require">*</span>{{'form.state' | i18n}} :</label>
                                      <div class="form_input">
                                            <input type="text" class="form-control" name="state" maxlength="80" [attr.data-error]="'form.stateRqr'" required/>
                                      </div>
                                      
                                </div>
                          </div>
                          <div class="col-12">
                                <div class="form_gorup">
                                      <label><span class="require">*</span>{{'form.addr' | i18n}} :</label>
                                      <div class="form_input">
                                            <input type="text" class="form-control" name="addr" maxlength="150" [attr.data-error]="'form.caddrRqr'" required/>
                                      </div>
                                </div>
                          </div>

                          <div class="col-6">
                                <div class="form_gorup">
                                      <label><span class="require">*</span>{{'form.email' | i18n}} :</label>
                                      <div class="form_input">
                                            <input type="mail" class="form-control" name="mail" maxlength="100" [attr.data-error]="'form.emailRqr'" required/>
                                      </div>
                                </div>
                          </div>
                          
                          <div class="col-6">
                                <div class="form_gorup">
                                      <label><span class="require">*</span>{{'form.web' | i18n}} :</label>
                                      <div class="form_input">
                                            <input type="text" class="form-control" name="web" [attr.data-error]="'form.webRqr'" required/>
                                      </div>
                                </div>
                          </div>

                          <div class="col-8">
                                <div class="form_gorup col-8">
                                      <label><span class="require">*</span>{{'form.tel' | i18n}} :</label>
                                      <div class="form_input">
                                            <input type="text" class="form-control" style="width: 20%;" name="phone_country" maxlength="4" [attr.data-error]="'form.ccodeRqr'" required/>
                                            <input type="text" class="form-control" style="width: 30%;" name="phone_area" maxlength="4" [attr.data-error]="'form.areacodeRqr'" required/>
                                            <input type="text" class="form-control" style="width: 50%;"  name="phone" maxlength="8" [attr.data-error]="'form.phoneRqr'" required/>
                                      </div>
                                </div>
                                <div class="form_gorup col-4">
                                    <label>{{'form.ext' | i18n}} :</label>
                                    <div class="form_input">
                                          <input type="text" class="form-control" name="phone_ext" maxlength="8"/>
                                    </div>
                              </div>
                          </div>

                          <div class="col-4">

                                <div class="form_gorup">
                                    <label>{{'form.fax' | i18n}} :</label>
                                    <div class="form_input">
                                          <input type="text" class="form-control" name="fax"/>
                                    </div>
                              </div>
                          </div>

                          <div class="col-12">
                                <div class="form_gorup">
                                      <label><span class="require">*</span>{{'form.btyle' | i18n}} :</label>
                                      <div class="form_input" style="display: block;">
                                            <ng-container *ngFor="let item of btyleItem; let _index = index">
                                                <span style="white-space:nowrap;display: inline-block;">
                                                      <input type="checkbox" name="businessTypeSet" id="checkbox{{_index}}" value="{{item.code}}" [attr.data-error]="'form.dealSelect'" required/>
                                                      <label for="checkbox{{_index}}" >{{item['name']}}</label>
                                                </span>
                                           </ng-container>
                                      </div>
                                </div>
                          </div>

                    </div>

                    <h1>*2. {{'form.product' | i18n}}
                       <span class="note">{{'form.provide' | i18n}}</span>
                    </h1>
                    <div class="fieldset" style="padding: 1rem 0">

                          <table class="rwd-table formtable">
        　
                                      <tr>
                                            <th style="width:1.75rem;">No.</th>
                                            <th>{{'form.pname' | i18n}}</th>
                                            <th>{{'form.desc' | i18n}}</th>
                                            <th>{{'form.amout' | i18n}}</th>
                                      </tr>
                                      
                                      <tr>
                                            <td data-th="No">1</td>
                                            <td [attr.data-th]="('form.pname' | i18n)">
                                                  <label style="display: none;">{{'form.pname' | i18n}}</label>
                                                  <div class="col-full">
                                                        <input type="text" class="form-control" name="prod[0].pname" [attr.data-error]="'form.pnameRqr'" required/>
                                                  </div>
                                            </td>
                                            <td [attr.data-th]="('form.desc' | i18n)">
                                               <div class="col-full">
                                                    <textarea class="form-control" name="prod[0].desc"></textarea>
                                               </div>
                                            </td>
                                            <td [attr.data-th]="('form.amout' | i18n)">
                                               <div class="col-full">
                                                    <textarea class="form-control" name="prod[0].purchase"></textarea>
                                               </div>
                                            </td>
                                      </tr>
                                      <tr>
                                            <td data-th="No">2</td>
                                            <td [attr.data-th]="('form.pname' | i18n)">
                                                  <div class="col-full">
                                                        <input type="text" class="form-control" name="prod[1].pname"/>
                                                  </div>
                                            </td>
                                            <td [attr.data-th]="('form.desc' | i18n)">
                                               <div class="col-full">
                                                    <textarea class="form-control" name="prod[1].desc"></textarea>
                                               </div>
                                            </td>
                                            <td [attr.data-th]="('form.amout' | i18n)">
                                               <div class="col-full">
                                                    <textarea class="form-control" name="prod[1].purchase"></textarea>
                                               </div>
                                            </td>
                                      </tr>

                                      <tr>
                                            <td data-th="No">3</td>
                                            <td [attr.data-th]="('form.pname' | i18n)">
                                                  <div class="col-full">
                                                        <input type="text" class="form-control"name="prod[2].pname"/>
                                                  </div>
                                            </td>
                                            <td [attr.data-th]="('form.desc' | i18n)">
                                               <div class="col-full">
                                                    <textarea class="form-control" name="prod[2].desc"></textarea>
                                               </div>
                                            </td>
                                            <td [attr.data-th]="('form.amout' | i18n)">
                                               <div class="col-full">
                                                    <textarea class="form-control" name="prod[2].purchase"></textarea>
                                               </div>
                                            </td>
                                      </tr>
                                      
                                </table>
                   
                    </div>
                    <h1>3. {{'form.commet' | i18n}}</h1>
                    <div class="fieldset">
                         <textarea class="comment" name="other"></textarea>
                    </div>
                    <h1>4. {{'form.updfile' | i18n}}</h1>
                    <div class="fieldset">
                          <input type="file" class="updfile" id="fileupd" accept=".pdf,.jpg,.dic,.ppt,.png,.xlsx,.xls" (change)="handleFileInput($event.target.files)"/>
                    </div>
                    
                    <h1>5. {{'form.vscode' | i18n}}</h1>
                    <div class="col-6">
                        <div class="fieldset form_gorup">
                              <label style="display: none;">{{'form.vscode' | i18n}} :</label>
                              <div class="form_input">
                                    <input type="text" class="form-control" style="width: 35%;" name="checkCodeNo" maxlength="5" [attr.data-error]="'form.checkRqr'" required/>
                                    <ng-container *ngIf="CheckImg != ''">
                                          <img class="ckcode" [src]="CheckImg" (click)="refresh()"/>
                                    </ng-container>
                                    
                              </div>
                              
                        </div>
                   </div>
                    <div class="fieldset">
                          <div class="col-12" style="justify-content: center;">
                                <div class="basebtn linerbg submit" (click)="formsend()">{{'form.next' | i18n}}</div>
                                <div class="basebtn linerbg reset" (click)="Reset()">{{'form.reset' | i18n}}</div>
                          </div>
                    </div>
               </form>
         </div>

         <div class="col-12 content txtdetail formPre" *ngIf="isend">
                       <div class="col-full forminfo">
                             <img src="theme2/assets/img/form.png"/>
                             <span>Please review your information, then click Submit</span>
                       </div>
                       
                       <h1>*1. {{'form.info' | i18n}} <span class="note">{{'form.fill' | i18n}}</span></h1>
                       <div class="fieldset">
   
                           
                             <div class="col-6">
                                   <div class="form_gorup">
                                         <label><span class="require">*</span>{{'form.offer' | i18n}} :</label>
                                         <div class="form_input">
                                                <span *ngIf="result.type == '27'">
                                                            <label>{{'form.buy' | i18n}}</label>
                                                      </span>
                                                      <span *ngIf="result.type == '28'">
                                                            <label>{{'form.sell' | i18n}}</label>
                                                       </span>
                                         </div>
                                   </div>
                             </div>
                             <div class="col-6">
                                   <div class="form_gorup">
                                         <label><span class="require">*</span>{{'form.cname' | i18n}} :</label>
                                         <div class="form_input">
                                             {{result.company}}
                                         </div>
                                   </div>
                             </div>
                             <div class="col-6">
                                   <div class="form_gorup">
                                         <label><span class="require">*</span>{{'form.name' | i18n}} :</label>
                                         <div class="form_input">
                                                {{result.firstname}} {{result.lastname}}
                                         </div>
                                   </div>
                             </div>
                             <div class="col-6">
                              <div class="form_gorup">
                                   <label>{{'form.title' | i18n}} :</label>
                                   <div class="form_input">
                                          {{result.title}}
                                   </div>
                              </div>
                             </div>
                             <div class="col-6">
                                   <div class="form_gorup">
                                         <label><span class="require">*</span>{{'form.contry' | i18n}} :</label>
                                         <div class="form_input">
                                              {{CName(result.country)}}
                                         </div>
                                         
                                   </div>
                             </div>
                             <div class="col-6">
                                   <div class="form_gorup">
                                         <label><span class="require">*</span>{{'form.state' | i18n}} :</label>
                                         <div class="form_input">
                                                {{result.state}}
                                         </div>
                                         
                                   </div>
                             </div>
                             <div class="col-12">
                                   <div class="form_gorup">
                                         <label><span class="require">*</span>{{'form.addr' | i18n}} :</label>
                                         <div class="form_input">
                                                {{result.addr}}
                                         </div>
                                   </div>
                             </div>
   
                             <div class="col-6">
                                   <div class="form_gorup">
                                         <label><span class="require">*</span>{{'form.email' | i18n}} :</label>
                                         <div class="form_input">
                                                {{result.mail}}
                                         </div>
                                   </div>
                             </div>
                             
                             <div class="col-6">
                                   <div class="form_gorup">
                                         <label><span class="require">*</span>{{'form.web' | i18n}} :</label>
                                         <div class="form_input">
                                                {{result.web}}
                                         </div>
                                   </div>
                             </div>
   
                          <div class="col-6">
                              <div class="form_gorup">
                                    <label><span class="require">*</span>{{'form.tel' | i18n}} :</label>
                                    <div class="form_input">
                                          {{result.phone_country}} {{result.phone_area}} {{result.phone}}
                                          <ng-container *ngIf="result.phone_ext != ''">
                                                #{{result.phone_ext}}
                                          </ng-container>
                                    </div>
                              </div>
                          </div>

                          <div class="col-6">
                                <div class="form_gorup">
                                    <label>{{'form.fax' | i18n}} :</label>
                                    <div class="form_input">
                                           {{result.fax}}
                                    </div>
                              </div>
                          </div>

                          <!-- 
                             <div class="col-6">
                                   <div class="form_gorup">
                                         <label><span class="require">*</span>{{'form.tel' | i18n}} :</label>
                                         <div class="form_input">
                                                {{result.phone_country}} {{result.phone_area}} {{result.phone}}
                                         </div>
                                   </div>
                             </div>
   
                             <div class="col-6">
                                   <div class="form_gorup">
                                         <label>{{'form.ext' | i18n}} :</label>
                                         <div class="form_input">
                                                {{result.phone_ext}}
                                         </div>
                                   </div>
                             </div>
   
                             <div class="col-6">
                                   <div class="form_gorup">
                                         <label>{{'form.fax' | i18n}} : </label>
                                         <div class="form_input">
                                                {{result.fax}}
                                         </div>
                                   </div>
                             </div>
                              -->
                             
                             <div class="col-12">
                                   <div class="form_gorup">
                                         <label><span class="require">*</span>{{'form.btyle' | i18n}} :</label>
                                         <div class="form_input" style="display: block;">
                                                {{CtypeName(result.businessTypeSet)}}
                                         </div>
                                   </div>
                             </div>
   
                       </div>
   
                       <h1>*2. {{'form.product' | i18n}}
                          <span class="note">{{'form.provide' | i18n}}</span>
                       </h1>
                       <div class="fieldset" style="padding: 1rem 0">
                             <table class="rwd-table formtable">
           　
                                         <tr>
                                               <th style="width:1.75rem;">No.</th>
                                               <th>{{'form.pname' | i18n}}</th>
                                               <th>{{'form.desc' | i18n}}</th>
                                               <th>{{'form.amout' | i18n}}</th>
                                         </tr>
                                         
                                         <tr *ngFor="let prod of result.product;let _index = index;">
                                               <td data-th="No">{{_index+1}}</td>
                                               <td [attr.data-th]="('form.pname' | i18n)">
                                                      {{prod.pname}}
                                               </td>
                                               <td [attr.data-th]="('form.desc' | i18n)">
                                                      {{prod.desc}}
                                               </td>
                                               <td [attr.data-th]="('form.amout' | i18n)">
                                                      {{prod.purchase}}
                                               </td>
                                         </tr>
                                         
                                   </table>
                      
                       </div>
                       <h1>3. {{'form.commet' | i18n}}</h1>
                       <div class="fieldset">
                              {{result.other}}
                       </div>
                       <h1 *ngIf="result.file != ''">4. {{'form.updfile' | i18n}}</h1>
                       <div class="fieldset" *ngIf="result.file != ''">
                             <a href="/api/download?id={{tempfileinfo.id}}" target="_blank">{{tempfileinfo.name}}</a>
                       </div>
                       <div class="fieldset">
                             <div class="col-12" style="justify-content: center;">
                                   <div class="basebtn linerbg submit" (click)="Formpost()">{{'form.submit' | i18n}}</div>
                                   <div class="basebtn linerbg reset" (click)="Back()">{{'btn.previous' | i18n}}</div>
                             </div>
                       </div>
         </div>
    </div>
</div>