
<app-loading></app-loading>
<app-pop-confirm></app-pop-confirm>
<cookie-box></cookie-box>

  <!-- Mobile Header -->
  <div *ngIf="IsMobile" id="mobile_menu">
        <div class="mMenu" (click)="openMenu()">
            <i class="fa fa-navicon"></i>
        </div>
        <div class="mLogo" routerLink="/home">
              <img src="theme1/assets/img/logo.png"/>
              <span *ngIf="seo" class="mtitle">{{webtitle}}</span>
        </div>
        <div class="mSearch">
           <i class="fa fa-search"></i>
        </div>

            <div id="mSearch_bar">
                  <div id="mSearchback"></div>
                  <input type="text" id="msearch_area" [(ngModel)]="searchTxt" (keypress)="eventHandler($event.keyCode)"/>
                  <div id="mSearchSubmit" (click)="searchSend()"></div>
            </div>
  </div>
  <div *ngIf="IsMobile" id="mobile_menu_block" class="{{(menuOpen)?'active':''}}">
      <div class="mItem">
         <a href="/home" style="color:#000">
            <label>{{ 'home.home' | i18n}}</label>
         </a>
      </div>
      <div class="mCommunity linerbg" *ngIf="Socialurl">
            <span>Contact Us</span>
            <a routerLink="/contactUs"><i class="fa fa-envelope"></i></a>
            <a *ngIf="Socialurl.facebook && Socialurl.facebook != ''" href="{{Socialurl.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a>
            <a *ngIf="Socialurl.youtube && Socialurl.youtube != ''" href="{{Socialurl.youtube}}" target="_blank"><i class="fa fa-youtube-play"></i></a>
            <a *ngIf="Socialurl.instagram && Socialurl.instagram != ''" href="{{Socialurl.instagram}}" target="_blank"><i class="fa fa-instagram"></i></a>
            <a *ngIf="Socialurl.linkedin && Socialurl.linkedin != ''" href="{{Socialurl.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a>
            <!-- <p style="line-height:2rem;">Login</p> -->
            <p style="line-height:2rem;"></p>
            <ng-container *ngIf="languages">
                  {{ 'form.lang' | i18n}} : <select [(ngModel)]="langCodeSet" (ngModelChange)="langCodeSet=$event;LangChange()">
                        <ng-container *ngFor="let lang of languages">
                              <option [value]="lang.value">{{lang.name}}</option>
                        </ng-container>
                        <!-- <option [value]="'en_US'">EngLish</option>
                        <option [value]="'zh_TW'">繁體中文</option> -->
                  </select>
            </ng-container>
      </div>
      <ng-container *ngFor="let item of menuData;let mindex = index;">
            <div class="mItem">
            <!-- <a href="{{item.link}}" urlHref> -->
            <input type="checkbox" id="sub_{{mindex}}"/>
            <label for="sub_{{mindex}}">{{item.name}}</label>
            <i class="fa fa-angle-right"></i>
            <!-- </a> -->
            <ul class="SecondItem">
              <li><a href="{{item.link}}" urlHref> {{item.name}}</a></li>
              <ng-container *ngFor="let _sub of item.sub">
                <li><a href="{{_sub.link}}" urlHref> {{_sub.name}}</a></li>
              </ng-container>
            </ul>
      </div>
      </ng-container>
  </div>
  <div id="act_bg" class="{{(menuOpen)?'active':''}}" (click)="openMenu()"></div>

  <!-- Desk Header -->
  <div *ngIf="!IsMobile" class="raw header">
        <div class="col-12">
              <div class="community" *ngIf="Socialurl">
                  <span>Contact Us</span>
                  <a routerLink="/contactUs"><i class="fa fa-envelope"></i></a>
                  <a *ngIf="Socialurl.facebook && Socialurl.facebook != ''" href="{{Socialurl.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a *ngIf="Socialurl.youtube && Socialurl.youtube != ''" href="{{Socialurl.youtube}}" target="_blank"><i class="fa fa-youtube-play"></i></a>
                  <a *ngIf="Socialurl.instagram && Socialurl.instagram != ''" href="{{Socialurl.instagram}}" target="_blank"><i class="fa fa-instagram"></i></a>
                  <a *ngIf="Socialurl.linkedin && Socialurl.linkedin != ''" href="{{Socialurl.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a>
              </div>
              <div class="search">
                 <input type="text" placeholder="search" [(ngModel)]="searchTxt" (keypress)="eventHandler($event.keyCode)"/>
                 <button class="fa fa-search" (click)="searchSend()"></button>
                 <ng-container *ngIf="languages">
                        <div class="select-container">
                        <select [(ngModel)]="langCodeSet" class="form-control" (ngModelChange)="langCodeSet=$event;LangChange()">
                                    <ng-container *ngFor="let lang of languages">
                                          <option [value]="lang.value">{{lang.name}}</option>
                                    </ng-container>
                        </select>
                        </div>
                 </ng-container>

              </div>
        </div>
  </div>
  <div *ngIf="!IsMobile" class="raw">
        <div class="col-12 logo" style="box-sizing: content-box;align-items: center;flex-wrap:inherit">
              <a href="/"><img src="theme1/assets/img/logo.png"/></a>
              <h1 *ngIf="seo">{{webtitle}}</h1>
        </div>
  </div>
  <div *ngIf="!IsMobile" class="raw menu">
        <div class="col-12">
            <ng-container *ngFor="let topitem of topmenu">
               <a href="{{topitem.link}}" urlHref>
                     {{topitem.name}}
                      <!-- child -->
                      <div class="childmenu" *ngIf="topitem.sub && topitem.sub.length > 0">
                        <ng-container *ngFor="let child_sub of topitem.sub">
                              <a href="{{child_sub.link}}" urlHref>{{child_sub.name}}</a>
                        </ng-container>
                      </div>
                      
               </a>
            </ng-container>
            <!-- <a href="">About Taitra</a>
            <a href="">News</a>
            <a href="">Events</a>
            <a href="">Contact Us</a>
            <a href="">About TCC London</a>
            <a href="">Bank Holiday Information</a> -->
            <span *ngIf="moreShow" (click)="openMenu()" class="more {{(menuOpen)?'active':''}}">more<i class="fa fa-angle-right"></i></span>
        </div>
        
        <div class="menuItem {{(menuOpen)?'active':''}}">
                  
                  <div class="col-12">
                        <div class="close linerbg" (click)="openMenu()"><i class="closeicon"></i></div>
                        <ng-container *ngFor="let item of menuData">
                              <div class="col-2">
                                 <a href="{{item.link}}" class="title" urlHref>{{item.name}}</a>
                                 <ng-container *ngFor="let _sub of item.sub">
                                     <a href="{{_sub.link}}" urlHref>{{_sub.name}}</a>
                                 </ng-container>
                              </div>
                        </ng-container>

                        <!-- <div class="col-2">
                          <a href="" class="title">About Taitra</a>
                        </div>
                        <div class="col-2">
                             <a href="" class="title">News</a>
                             <a href="">General News</a>
                             <a href="">International Health Laison Center</a>
                        </div>
                        <div class="col-2">
                          <a href="" class="title">News</a>
                        </div>
                        <div class="col-2">
                              <a href="" class="title">About Taitra</a>
                              <a href="">Our Events</a>
                              <a href="">Taiwan Execellence</a>
                        </div>
                        <div class="col-2">
                           <a href="" class="title">About Taitra</a>
                        </div>
                        <div class="col-2">
                            <a href="" class="title">About Taitra</a>
                        </div>
                        <div class="col-2">
                                    <a href="" class="title">News</a>
                        </div>
                        <div class="col-2">
                              <a href="" class="title">News</a>
                              <a href="">108.07.23全球經貿展望與數位解決方案研討會</a>
                              <a href="">108.06.11 中東、南非市場商機說明會</a>
                              <a href="">108.05.09【網紅經濟發展趨勢及現況發展】研討會</a>
                        </div>
                        <div class="col-2">
                                    <a href="" class="title">News</a>
                        </div> -->
                  </div>
        </div>
  </div>


<!-- <div class="routeContent" [@routeAnimations]="o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</div> -->
<div class="routeContent">
  <router-outlet #o="outlet"></router-outlet>
</div>

  <div id="top" class="backTop linerbg" [ngStyle]="topStyle">TOP</div>
  <div class="raw bottommenu">
        <div class="col-8">
            <a routerLink='/aboutUs'>{{'menu.aboutus' | i18n}}</a>
            <a href='https://officeportal.taiwantrade.com/flash/big/unitList.jsp?lang={{langCodeSet}}' target="_blank">{{'ovs.ofs' | i18n}}</a>
            <a routerLink='/sitemap'>{{'sitemap' | i18n}}</a>
        </div>
  </div>

  <div class="raw footer">
      <div class="col-12">

          <div class="col-3">
                <p *ngIf="footer">{{footer.addr}}</p>
          </div>
          <div class="col-3">
                <p *ngIf="footer">
                      <span>{{ 'form.tel' | i18n}} : {{footer.phone}}</span>
                      <span>{{ 'form.fax' | i18n}} : {{footer.fax}}</span>
                      <span>{{ 'form.email' | i18n}} : {{footer.email}}</span>
                </p>
          </div>
          <div class="col-6">
                <p>Organized by:</p>
                <p>
                      <a href="https://www.trade.gov.tw/English/" target="_blank">
                            <img src="theme1/assets/img/footer2.png"/>Bureau Of Foreign Trade
                      </a>
                </p>
                <p>
                      <a href="https://en.taitra.org.tw/" target="_blank">
                      <img src="theme1/assets/img/footer3.png"/>Taiwan External Trade Development Council (TAITRA)
                      </a>
                </p>
          </div>
          
      </div>
</div>