<div class="raw">
        <div class="mainImg">
            <h1 class="col-12">{{'menu.events' | i18n}}</h1>
        </div>
  </div>
  <div class="raw pageBg">
        <div class="col-12 main">
            
             <div class="col-9 content">
                 <div>
                        <table class="rwd-table ieinline">
                                <tr>
                                   <!-- <th>{{'event.date' | i18n}}</th> -->
                                   <th>{{'event.name' | i18n}}</th>
                                   <th style="width: 35%;">{{'event.addr' | i18n}}</th>
                                </tr>
                                <ng-container *ngIf="PageData">
                                    <tr *ngFor="let item of PageData; let i = index">
                                      <!-- <td [attr.data-th]="('event.date' | i18n)">
                                          <a href="{{item.url}}" urlHref>{{item.start}} ~ {{item.end}}</a>
                                            </td> -->
                                      <td [attr.data-th]="('event.name' | i18n)">
                                            <a href="{{item.url}}" urlHref class="edate">{{item.start}} ~ {{item.end}}</a><br/>
                                          <a href="{{item.url}}" urlHref>{{item.name}}</a>
                                      </td>
                                      <td [attr.data-th]="('event.addr' | i18n)">
                                           <a href="{{item.url}}" urlHref>{{item.addr}}</a>
                                      </td>　
                                    </tr>
                                </ng-container>
                                
                                
                                <!-- template
                                <tr>
                                   <td data-th="Date">2019/02/12 ~ 2019/02/12</td>
                                   <td data-th="Event">Taiwan Cycling & Sporting Goods Industries Seminar</td>
                                   <td data-th="Loacation">Taiwan Trade Centre London</td>　
                                </tr> -->
                          </table>
                          <pagination [SourceData]="DataSource" (PageData)="SetPage($event)"></pagination>
                 </div>
                  
                  <div class="noData" *ngIf="PageData && DataSource.length == 0">{{ 'form.noData' | i18n }}</div>
             </div>
              <div class="sideMenu col-3">
                <a class="active">{{'menu.events' | i18n}}</a>
                <a routerLink="/tradeShow">{{'menu.TTS' | i18n}}</a>
                <a routerLink="/tradeMission">{{'form.mission' | i18n}}</a>
             </div>
        </div>
  </div>