<div class="raw">
        <div class="mainImg">
            <h1 class="col-12" *ngIf="Data">{{Data.name}}</h1>
        </div>
  </div>
  <div class="raw pageBg">
        <div class="col-12 main" *ngIf="Data">
             <!-- <app-tool></app-tool> -->
             <div class="col-9 content txtdetail" style="padding-top: 0">
                   <app-tool></app-tool>
                   <!-- <h1 style="margin-top:2rem;">{{Data.name}}</h1> -->
                   <p style="margin-top:2rem;" [innerHtml]="Data.content | htmlHandle"></p>
                   <label class="attach" *ngIf="Data.files.length > 0">{{'event.attach' | i18n}}:</label>
                   <ng-container *ngFor="let item of Data.files; let i = index">
                       <a class="filelink" href="{{item.filelink}}" target="_blank">
                       <i class="fa fa-paperclip"></i>{{item.filename}}</a>
                   </ng-container>
                   <div class="backarea">
                        <div routerLink="/event/list" class="basebtn back">
                                    {{'back' | i18n}}
                        </div>
                   </div>
             </div>

             <div class="leftside col-3">
                <label>{{'event.date' | i18n}} : </label>
                <span>{{Data.start}}~ {{Data.end}}</span>
                <label>{{'event.addr' | i18n}} : </label>
                <span>{{Data.addr}}</span>
                <label>{{'event.type' | i18n}} : </label>
                <span>{{Data.type}}</span>
                <ng-container *ngIf="Data.fee != ''">
                    <label>{{'event.fee' | i18n}}</label>
                    <span>{{Data.fee}}</span>
                 </ng-container>
                 <ng-container *ngIf="Data.isRegist">
                    <div class="basebtn" routerLink="/event/sign" [queryParams]="{id:Eid}">{{'event.signup' | i18n}}</div>
                 </ng-container>
                 <ng-container *ngIf="Data.url != ''">
                    <a class="basebtn" href="{{Data.url}}" urlHref>{{'event.url' | i18n}}</a>
                 </ng-container>
            </div>
        </div>
  </div>