


<homeBnr [SourceData]="Banner"></homeBnr>

<div class="raw">
        <div class="main_event">
                <h1 class="homeh1">{{'home.calendar' | i18n}}
                    <a href="/event/list" urlHref>{{'head.more' | i18n}}</a>
                </h1>
                <div class="col-12">
                        <div class="col-6 event_left" *ngIf="!IsMobile">
                                <!-- <div class="calendar" style="background-image: url('theme3/assets/img/calender.jpg');"> -->
                                <div class="calendar">
                                    <div class="calendar_select">
                                          <div class="pre" (click)="lessYear()"></div>
                                          <div class="date">
                                             <div class="pre" (click)="OnDataChange('-')"></div>
                                             <div class="year">{{default.y}}/{{default.m}}</div>
                                             <div class="next" (click)="OnDataChange('+')"></div>
                                          </div>
                                          <div class="next" (click)="addYear()"></div>
                                    </div>
                                    <div class="week">
                                      <span>Sun</span>
                                      <span>Mon</span>
                                      <span>Tue</span>
                                      <span>Wed</span>
                                      <span>Thu</span>
                                      <span>Fri</span>
                                      <span>Sat</span>
                                    </div>
                                    <div class="date_list">
                                        <ng-container *ngFor="let day of days;">
                                            <span *ngIf="day.text == ''" class="{{day.class}}">{{day.text}}</span>
                                            <span *ngIf="day.text != ''" class="{{day.class}}" (click)="ChangeDate(day)">{{day.text}}</span>
                                        </ng-container>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-8 event_right">
                                <div class="main_event_list">
                                    <div class="evtlist">
                                        <ng-container *ngFor="let evt of EvtFilter;">
                                              
                                              <a href="{{evt.url}}" urlHref>
                                                <div class="evtitem">
                                                    <span class="tag global" *ngIf="!evt.islocal">Global</span>
                                                    <span class="tag local" *ngIf="evt.islocal">Local</span>
                                                    <div>
                                                        <span class="date" *ngIf="evt.start != evt.end">
                                                            <i class="cDownload" (click)="AddCalendar(evt)"></i>
                                                            {{evt.start}} ~ {{evt.end}}
                                                        </span>
                                                        <span class="date" *ngIf="evt.start == evt.end">
                                                            <i class="cDownload" (click)="AddCalendar(evt)"></i>
                                                            {{evt.start}}
                                                        </span>
                                                        <label>{{evt.name}}</label>
                                                    </div>
                                                </div>
                                            </a>
                                        </ng-container>
                                        
                                        <!-- noData display -->
                                        <p *ngIf="EvtFilter.length == 0">{{ 'form.noData' | i18n }}</p>
                                    </div>
                                </div>
                              </div>
                </div>

           </div>
</div>

 <div class="col-12" *ngIf="ansList.length > 0">
     <h1 class="homeh1">{{'home.announce' | i18n}}
          <a href="/announce/list" urlHref>{{'head.more' | i18n}}</a>
     </h1>
 </div>
 <div class="raw" *ngIf="ansList.length > 0">
     <div class="col-12 anshome">
         <ng-container *ngFor="let ans of ansList;">
            <a href="{{ans.url}}" urlHref>
                <div class="col-4">
                    <div class="ansimg">
                        <img *ngIf="ans.img" [src]="ans.img"/>
                    </div>
                    <div class="anstxt">
                        <label>{{ans.name}}</label>
                        <span>{{ans.start}} ~ {{ans.end}}</span>
                        <!-- <p>我有【企業內訓】需求 (報名請點我)我有【企業內訓】需求 (報名請點我)我有【企業內訓】需求 (報名請點我)我有【企業內訓】需求 (報名請點我)我有【企業內訓】需求 (報名請點我)</p> -->
                    </div>
                </div>
            </a>
         </ng-container>
         
     </div>
 </div>

 <div class="col-12" *ngIf="NewsList.length > 0">
     <h1 class="homeh1">{{'home.recent' | i18n}}
            <a href="/news/list" urlHref>{{'head.more' | i18n}}</a>
     </h1>
 </div>
 <div class="raw" *ngIf="NewsList.length > 0">
     <div class="col-12">
        <div class="col-6">
           <div class="newslist">
                <ng-container *ngFor="let ns of NewsList;let nindex = index;">
                 <a routerLink="/news/detail" [queryParams]="{id: ns.id}">
                    <div class="newsitem" (mouseover)="changeImg(nindex)">
                        <div class="{{(ns.isnew) ? 'top' : ''}}">
                            <span class="date">{{ns.date}}</span>
                            <label>{{ns.name}}</label>
                        </div>
                    </div>
                  </a>
                </ng-container>
            </div>
        </div> 
         <div class="col-6 news_view" *ngIf="!IsMobile">
             <ng-container *ngIf="nImg != ''">
                    <img [src]="nImg"/>
             </ng-container>
        </div>    
     </div>
 </div>




 <div class="col-12" *ngIf="video && !IsMobile">
     <h1 class="homeh1">{{'home.video' | i18n}}</h1>
 </div>
 <div class="raw" *ngIf="video">
     <div class="col-12 main_event video">
        <div class="col-6 video_view">
            <iframe width="560" height="315" [src]="video.url" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>   
        <div class="col-6 video_txt">
                <h1>{{video.name}}</h1>
                <p [innerHtml]="video.content | htmlHandle"></p>
        </div>  
     </div>
 </div>


 <div class="col-12 maintitle" *ngIf="RelateShow && !IsMobile">
    <h1 class="homeh1">{{'home.related' | i18n}}</h1>
 </div>
 <div class="raw" *ngIf="!IsMobile">
        <div class="col-12 main_event related">
        <relatedBnr class="col-4" [ClassName]="'related1'" [SourceData]="adBanner_1"></relatedBnr>
        <relatedBnr class="col-4" [ClassName]="'related2'" [SourceData]="adBanner_2"></relatedBnr>
        <relatedBnr class="col-4" [ClassName]="'related3'" [SourceData]="adBanner_3"></relatedBnr>
    </div>
</div>