<div class="raw">
      <div class="mainImg">
          <h1 class="col-12">{{'menu.news' | i18n}}</h1>
      </div>
</div>
<div class="raw pageBg">
      <div class="col-12 main" style="display: block;">
           
           <div class="col-12 content">
                <table class="rwd-table">
                　
                      <tr>
                         <!-- <th>{{'news.date' | i18n}}</th> -->
                         <th>{{'news.title' | i18n}}</th>
                         <th>{{'news.source' | i18n}}</th>
                      </tr>
                      <ng-container *ngFor="let item of PageData">
                        <tr>
                              <!-- <td [attr.data-th]="('news.date' | i18n)">{{item.date}}</td> -->
                              <td [attr.data-th]="('news.title' | i18n)">
                                 
                                 <a routerLink="/news/detail" [queryParams]="{id: item.id}">
                                    <span class="date">{{item.date}}</span><br/>
                                    {{item.name}}
                                </a> 
                              </td>
                              <td [attr.data-th]="('news.source' | i18n)">{{item.source}}</td>　
                        </tr>
                      </ng-container>
                      <!-- <tr>
                         <td data-th="Date">2019/02/12 ~ 2019/02/12</td>
                         <td data-th="Event">Taiwan Cycling & Sporting Goods Industries Seminar</td>
                         <td data-th="Loacation">Taiwan Trade Centre London</td>　
                      </tr> -->
                </table>
                <pagination [SourceData]="DataSource" (PageData)="SetPage($event)"></pagination>
                <div class="noData" *ngIf="PageData && PageData.length == 0">{{ 'form.noData' | i18n }}</div>
           </div>
      </div>
</div>