  <div class="raw">
        <div class="mainImg">
            <h1 class="col-12" *ngIf="Data">{{Data.name}}</h1>
        </div>
  </div>
  <div class="raw pageBg">
            <div class="col-12 main news" *ngIf="Data">
             
             <div class="{{(relation.length > 0) ? 'col-9' : 'col-12'}} content txtdetail" style="padding-top: 0">
                   <app-tool></app-tool>
                   <span class="date">{{Data.date}}</span>
                   <!-- <h1>{{Data.name}}</h1> -->
                   <p>
                        <span class="author">{{Data.author}}</span>
                   </p>
                   <p *ngIf="Data.abstract" [innerHtml]="Data.abstract | htmlHandle"></p>
                   <p [innerHtml]="Data.content | htmlHandle"></p>

                   <label class="attach" *ngIf="Data.files.length > 0">{{'event.attach' | i18n}}:</label>
                   <ng-container *ngFor="let item of Data.files; let i = index">
                       <a class="filelink" href="{{item.filelink}}" target="_blank">
                       <i class="fa fa-paperclip"></i>{{item.filename}}</a>
                   </ng-container>

                   <div class="backarea">
                        <div routerLink="/news/list" class="basebtn back">
                                    {{'back' | i18n}}
                        </div>
                   </div>
                 
             </div>

             <div class="sideMenu col-3" *ngIf="(relation.length > 0)">

                  <ng-container *ngFor="let rel of relation;let mindex = index;">
                        <a class="link" routerLink="/news/detail" [queryParams]="{id: rel.id}">
                        {{rel.name}}({{rel.date}})</a>
                  </ng-container>
             </div>
        </div>
  </div>