<div class="raw">
    <div class="mainImg">
        <h1 class="col-12">{{'menu.TTS' | i18n}}</h1>
    </div>
</div>
<div class="raw pageBg">
    <div class="col-12 main">
         <div class="topMemu col-12">
            <a routerLink="/event/list">{{'menu.events' | i18n}}</a>
            <a class="active">{{'menu.TTS' | i18n}}</a>
            <a routerLink="/tradeMission">{{'form.mission' | i18n}}</a>
         </div>
         <div class="col-12 content">
             
              <div class="year_search">
                    <label>{{'year' | i18n}} :</label>
                    <div class="select-container">
                        <select class="form-control" [(ngModel)]="selectYear" (ngModelChange)="selectYear=$event;optChange()">
                            <ng-container *ngFor="let y of Years">
                                <option [value]="y">{{y}}</option>
                            </ng-container>
                        </select>
                    </div>
              </div>
              <div class="divice_line"></div>
              <div class="tradeshow">
                    <ng-container *ngFor="let item of Data">
                        <div class="col-full showItem">
                            <div class="col-3">
                               <img src="{{item.img}}"/>
                            </div>
                            <div class="col-9 info">
                               <label>{{'show.name' | i18n}} : <a href="{{item.url}}" target="_blank">{{item.name}}</a></label>
                               <label>{{'show.date' | i18n}} : <span>{{item.start}} ~ {{item.end}}</span></label>
                               <p>
                                {{item.content}}
                               </p>
                            </div>
                         </div>
                    </ng-container>
                    
                    <!-- <div class="col-full showItem">
                       <div class="col-3">
                          <img src="theme2/assets/img/trds_3.png"/>
                       </div>
                       <div class="col-9 info">
                          <label>Name of Exhibition : <a href="">Taipei International Machine Tool Show </a></label>
                          <label>Exhibition Date : <span>2019/01/17 ~ 2019/01/21</span></label>
                          <p>
                            CNC machine tools,metal cutting machines,metal forming machines,foundry,forging,...
                          </p>
                       </div>
                    </div> -->
              </div>
              <div class="noData" *ngIf="Data.length == 0">{{ 'form.noData' | i18n }}</div>
            
         </div>
    </div>
</div>